In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import sys
print(sys.version)

3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]

In [6]:
import pandas as pd

In [7]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\desktop\mysql-2\.venv\lib\site-packages (9.4.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import mysql.connector
import pandas as pd

In [9]:
providers = pd.read_csv("providers_data.csv")
receivers = pd.read_csv("receivers_data.csv")
food_listings = pd.read_csv("food_listings_data.csv")
claims = pd.read_csv("claims_data.csv")

In [63]:
providers

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775

In [112]:
receivers

,Receiver_ID,Name,Type,City,Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999

In [10]:
food_listings

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner
...,...,...,...,...,...,...,...,...,...
995,996,Fish,15,3/30/2025,467,Catering Service,Phillipsfort,Vegan,Breakfast
996,997,Fish,22,3/18/2025,35,Grocery Store,Andersonmouth,Vegetarian,Breakfast
997,998,Fruits,6,3/22/2025,444,Restaurant,New Billy,Non-Vegetarian,Dinner
998,999,Pasta,15,3/30/2025,702,Supermarket,Lake Mistyton,Non-Vegetarian,Lunch
999,1000,Salad,18,3/19/2025,155,Supermarket,Charlesview,Non-Vegetarian,Dinner

In [11]:
claims

     Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0           1      164          908    Pending    3/5/2025 5:26
1           2      353          391  Cancelled  3/11/2025 10:24
2           3      626          492  Completed   3/21/2025 0:59
3           4       61          933  Cancelled    3/4/2025 9:08
4           5      345          229    Pending  3/14/2025 15:17
..        ...      ...          ...        ...              ...
995       996      855          211  Completed  3/13/2025 19:40
996       997      980          746  Cancelled  3/17/2025 22:04
997       998      832          967  Cancelled  3/13/2025 18:00
998       999      917           90  Completed   3/1/2025 15:31
999      1000      596          950  Cancelled  3/13/2025 12:51

[1000 rows x 5 columns]

In [10]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Deepak@121",

)
cursor = conn.cursor()

In [11]:
cursor.execute("CREATE DATABASE IF NOT EXISTS FoodWastageDB")
print("MySQL database 'FoodWastageDB' created successfully!")

MySQL database 'FoodWastageDB' created successfully!

In [12]:
cursor.execute("use FoodWastageDB")

In [29]:
cursor.execute

In [13]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        Address TEXT,
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [14]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS receivers (
        Receiver_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [15]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS food_listings (
        Food_ID INT PRIMARY KEY,
        Food_Name VARCHAR(255),
        Quantity INT,
        Expiry_Date DATE,
        Provider_ID INT,
        Provider_Type VARCHAR(100),
        Location VARCHAR(100),
        Food_Type VARCHAR(50),
        Meal_Type VARCHAR(50),
        FOREIGN KEY (Provider_ID) REFERENCES providers(Provider_ID)
    )
""")
conn.commit()

In [16]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS claims (
        Claim_ID INT PRIMARY KEY,
        Food_ID INT,
        Receiver_ID INT,
        Status VARCHAR(20),
        Timestamp DATETIME,
        FOREIGN KEY (Food_ID) REFERENCES food_listings(Food_ID),
        FOREIGN KEY (Receiver_ID) REFERENCES receivers(Receiver_ID)
    )
""")
conn.commit()

In [17]:
for _, row in providers.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO providers (Provider_ID, Name, Type, Address, City, Contact)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

In [18]:
for _, row in receivers.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO receivers (Receiver_ID, Name, Type, City, Contact)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))

conn.commit()

In [19]:
import datetime

claim_data = [
    (1, 101, 201, "Pending", datetime.datetime.now()),
    (2, 102, 202, "Approved", datetime.datetime.now())
]

cursor.executemany("""
    INSERT INTO claims (Claim_ID, Food_ID, Receiver_ID, Status, Timestamp)
    VALUES (%s, %s, %s, %s, %s)
""", claim_data)

conn.commit()

In [20]:
claim_data

[(1, 101, 201, 'Pending', datetime.datetime(2025, 8, 15, 16, 28, 4, 771949)),
 (2, 102, 202, 'Approved', datetime.datetime(2025, 8, 15, 16, 28, 4, 771949))]

In [21]:
#Questions to be Answered (SQL Queries & Analysis)
# # 1-How many food providers and receivers are there in each city?

query1 = """
SELECT city,
       SUM(provider_count) as total_providers,
       SUM(receiver_count) as total_receivers
FROM (
    SELECT City as city, COUNT(Provider_ID) as provider_count, 0 as receiver_count 
    FROM Providers 
    GROUP BY City
    UNION ALL
    SELECT City as city, 0 as provider_count, COUNT(Receiver_ID) as receiver_count 
    FROM Receivers 
    GROUP BY City
) as combined
GROUP BY city
"""

cursor.execute(query1)
results = cursor.fetchall()

# Get column names
columns = [desc[0] for desc in cursor.description]

# Convert to DataFrame
df = pd.DataFrame(results, columns=columns)

print(df)

                city total_providers total_receivers
0        New Jessica               1               1
1        East Sheena               1               0
2     Lake Jesusview               1               0
3        Mendezmouth               1               0
4      Valentineside               1               0
...              ...             ...             ...
1873     Andrewsport               0               1
1874     Lanechester               0               1
1875    South Sandra               0               1
1876    Lake Jeffery               0               1
1877   Shelbychester               0               1

[1878 rows x 3 columns]

In [22]:
#2 #Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

cursor.execute("""
SELECT Provider_Type, SUM(Quantity) AS total_quantity
FROM food_listings
GROUP BY Provider_Type
ORDER BY total_quantity DESC
LIMIT 1
""")

print(cursor.fetchone())

('Restaurant', Decimal('6923'))

In [23]:
#3 What is the contact information of food providers in a specific city?

query3 = """
SELECT Name, Type, Address, Contact
FROM Providers
WHERE City = 'New Jessica'
"""

cursor.execute(query3)
results = cursor.fetchall()

for row in results:
    print(row)

('Gonzales-Cochran', 'Supermarket', '74347 Christopher Extensions\nAndreamouth, OK 91839', '+1-600-220-0480')

In [24]:
# #4 Which receivers have claimed the most food?

query4 = """
SELECT r.Receiver_ID, r.Name, SUM(fl.Quantity) AS Total_Food_Claimed
FROM claims c
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
JOIN food_listings fl ON c.Food_ID = fl.Food_ID
GROUP BY r.Receiver_ID, r.Name
ORDER BY Total_Food_Claimed DESC;
"""

cursor.execute(query4) 
rows = cursor.fetchall()  

for row in rows:
    print(row)

(201, 'Calvin Lucas', Decimal('140'))
(202, 'Veronica Coleman', Decimal('140'))

In [25]:
#5 Total quantity of food available from all providers:

query5 = """
SELECT SUM(Quantity) AS Total_Food_Available
FROM food_listings;
"""

cursor.execute(query5)
rows = cursor.fetchall()

for row in rows:
    print(row)

(Decimal('25794'),)

In [26]:
#6 Which city has the highest number of food listings?

query6 = """
SELECT Location AS City, COUNT(*) AS Total_Listings
FROM food_listings
GROUP BY Location
ORDER BY Total_Listings DESC
LIMIT 1;
"""

cursor.execute(query6)
rows = cursor.fetchall()

for row in rows:
    print(row)

('New Carol', 6)

In [27]:
#7 Most commonly available food types:

query7 = """
SELECT Food_Type, COUNT(*) AS Total_Count
FROM food_listings
GROUP BY Food_Type
ORDER BY Total_Count DESC;
"""

cursor.execute(query7)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Vegetarian', 336)
('Vegan', 334)
('Non-Vegetarian', 330)

In [28]:
#8 How many food claims have been made for each food item?

query8 = """
SELECT f.Food_ID, f.Food_Name, COUNT(c.Claim_ID) AS Total_Claims
FROM food_listings f
LEFT JOIN claims c ON f.Food_ID = c.Food_ID
GROUP BY f.Food_ID, f.Food_Name
ORDER BY Total_Claims DESC;
"""

cursor.execute(query8)
rows = cursor.fetchall()

for row in rows:
    print(row)

(101, 'Dairy', 4)
(102, 'Rice', 4)
(1, 'Bread', 0)
(2, 'Soup', 0)
(3, 'Fruits', 0)
(4, 'Fruits', 0)
(5, 'Soup', 0)
(6, 'Vegetables', 0)
(7, 'Dairy', 0)
(8, 'Rice', 0)
(9, 'Bread', 0)
(10, 'Rice', 0)
(11, 'Pasta', 0)
(12, 'Pasta', 0)
(13, 'Fruits', 0)
(14, 'Bread', 0)
(15, 'Salad', 0)
(16, 'Dairy', 0)
(17, 'Chicken', 0)
(18, 'Soup', 0)
(19, 'Rice', 0)
(20, 'Pasta', 0)
(21, 'Rice', 0)
(22, 'Chicken', 0)
(23, 'Salad', 0)
(24, 'Bread', 0)
(25, 'Rice', 0)
(26, 'Vegetables', 0)
(27, 'Salad', 0)
(28, 'Chicken', 0)
(29, 'Bread', 0)
(30, 'Soup', 0)
(31, 'Bread', 0)
(32, 'Rice', 0)
(33, 'Salad', 0)
(34, 'Bread', 0)
(35, 'Rice', 0)
(36, 'Rice', 0)
(37, 'Fish', 0)
(38, 'Bread', 0)
(39, 'Bread', 0)
(40, 'Fruits', 0)
(41, 'Chicken', 0)
(42, 'Rice', 0)
(43, 'Pasta', 0)
(44, 'Bread', 0)
(45, 'Fish', 0)
(46, 'Pasta', 0)
(47, 'Salad', 0)
(48, 'Rice', 0)
(49, 'Fish', 0)
(50, 'Salad', 0)
(51, 'Dairy', 0)
(52, 'Vegetables', 0)
(53, 'Fruits', 0)
(54, 'Soup', 0)
(55, 'Vegetables', 0)
(56, 'Vegetables', 0)
(57, 'Chicken', 0)
(58, 'Pasta', 0)
(59, 'Vegetables', 0)
(60, 'Pasta', 0)
(61, 'Fruits', 0)
(62, 'Rice', 0)
(63, 'Salad', 0)
(64, 'Soup', 0)
(65, 'Fruits', 0)
(66, 'Fish', 0)
(67, 'Rice', 0)
(68, 'Rice', 0)
(69, 'Bread', 0)
(70, 'Rice', 0)
(71, 'Fish', 0)
(72, 'Dairy', 0)
(73, 'Soup', 0)
(74, 'Chicken', 0)
(75, 'Bread', 0)
(76, 'Pasta', 0)
(77, 'Rice', 0)
(78, 'Chicken', 0)
(79, 'Rice', 0)
(80, 'Dairy', 0)
(81, 'Fruits', 0)
(82, 'Vegetables', 0)
(83, 'Rice', 0)
(84, 'Rice', 0)
(85, 'Pasta', 0)
(86, 'Soup', 0)
(87, 'Salad', 0)
(88, 'Vegetables', 0)
(89, 'Chicken', 0)
(90, 'Bread', 0)
(91, 'Vegetables', 0)
(92, 'Chicken', 0)
(93, 'Salad', 0)
(94, 'Rice', 0)
(95, 'Pasta', 0)
(96, 'Dairy', 0)
(97, 'Rice', 0)
(98, 'Salad', 0)
(99, 'Bread', 0)
(100, 'Vegetables', 0)
(103, 'Bread', 0)
(104, 'Dairy', 0)
(105, 'Rice', 0)
(106, 'Rice', 0)
(107, 'Salad', 0)
(108, 'Fruits', 0)
(109, 'Fruits', 0)
(110, 'Salad', 0)
(111, 'Soup', 0)
(112, 'Chicken', 0)
(113, 'Soup', 0)
(114, 'Vegetables', 0)
(115, 'Pasta', 0)
(116, 'Soup', 0)
(117, 'Soup', 0)
(118, 'Dairy', 0)
(119, 'Bread', 0)
(120, 'Rice', 0)
(121, 'Vegetables', 0)
(122, 'Fruits', 0)
(123, 'Soup', 0)
(124, 'Salad', 0)
(125, 'Rice', 0)
(126, 'Dairy', 0)
(127, 'Rice', 0)
(128, 'Rice', 0)
(129, 'Chicken', 0)
(130, 'Vegetables', 0)
(131, 'Fish', 0)
(132, 'Soup', 0)
(133, 'Rice', 0)
(134, 'Rice', 0)
(135, 'Rice', 0)
(136, 'Bread', 0)
(137, 'Pasta', 0)
(138, 'Soup', 0)
(139, 'Rice', 0)
(140, 'Chicken', 0)
(141, 'Dairy', 0)
(142, 'Soup', 0)
(143, 'Fish', 0)
(144, 'Bread', 0)
(145, 'Rice', 0)
(146, 'Chicken', 0)
(147, 'Vegetables', 0)
(148, 'Pasta', 0)
(149, 'Fish', 0)
(150, 'Fish', 0)
(151, 'Chicken', 0)
(152, 'Fish', 0)
(153, 'Fish', 0)
(154, 'Pasta', 0)
(155, 'Fruits', 0)
(156, 'Fish', 0)
(157, 'Chicken', 0)
(158, 'Bread', 0)
(159, 'Pasta', 0)
(160, 'Rice', 0)
(161, 'Vegetables', 0)
(162, 'Pasta', 0)
(163, 'Bread', 0)
(164, 'Dairy', 0)
(165, 'Bread', 0)
(166, 'Soup', 0)
(167, 'Fish', 0)
(168, 'Salad', 0)
(169, 'Fruits', 0)
(170, 'Fruits', 0)
(171, 'Salad', 0)
(172, 'Rice', 0)
(173, 'Soup', 0)
(174, 'Chicken', 0)
(175, 'Dairy', 0)
(176, 'Fish', 0)
(177, 'Dairy', 0)
(178, 'Dairy', 0)
(179, 'Bread', 0)
(180, 'Salad', 0)
(181, 'Rice', 0)
(182, 'Soup', 0)
(183, 'Salad', 0)
(184, 'Salad', 0)
(185, 'Soup', 0)
(186, 'Pasta', 0)
(187, 'Dairy', 0)
(188, 'Soup', 0)
(189, 'Salad', 0)
(190, 'Salad', 0)
(191, 'Salad', 0)
(192, 'Vegetables', 0)
(193, 'Pasta', 0)
(194, 'Chicken', 0)
(195, 'Vegetables', 0)
(196, 'Fish', 0)
(197, 'Rice', 0)
(198, 'Bread', 0)
(199, 'Vegetables', 0)
(200, 'Bread', 0)
(201, 'Soup', 0)
(202, 'Dairy', 0)
(203, 'Pasta', 0)
(204, 'Fish', 0)
(205, 'Dairy', 0)
(206, 'Rice', 0)
(207, 'Salad', 0)
(208, 'Rice', 0)
(209, 'Fish', 0)
(210, 'Fruits', 0)
(211, 'Chicken', 0)
(212, 'Salad', 0)
(213, 'Fruits', 0)
(214, 'Soup', 0)
(215, 'Bread', 0)
(216, 'Vegetables', 0)
(217, 'Soup', 0)
(218, 'Fish', 0)
(219, 'Fish', 0)
(220, 'Pasta', 0)
(221, 'Bread', 0)
(222, 'Vegetables', 0)
(223, 'Bread', 0)
(224, 'Fruits', 0)
(225, 'Fish', 0)
(226, 'Rice', 0)
(227, 'Vegetables', 0)
(228, 'Rice', 0)
(229, 'Pasta', 0)
(230, 'Fruits', 0)
(231, 'Rice', 0)
(232, 'Soup', 0)
(233, 'Fish', 0)
(234, 'Rice', 0)
(235, 'Dairy', 0)
(236, 'Soup', 0)
(237, 'Salad', 0)
(238, 'Vegetables', 0)
(239, 'Pasta', 0)
(240, 'Fruits', 0)
(241, 'Fish', 0)
(242, 'Soup', 0)
(243, 'Fruits', 0)
(244, 'Soup', 0)
(245, 'Chicken', 0)
(246, 'Salad', 0)
(247, 'Fish', 0)
(248, 'Vegetables', 0)
(249, 'Salad', 0)
(250, 'Bread', 0)
(251, 'Dairy', 0)
(252, 'Chicken', 0)
(253, 'Rice', 0)
(254, 'Rice', 0)
(255, 'Dairy', 0)
(256, 'Rice', 0)
(257, 'Chicken', 0)
(258, 'Fish', 0)
(259, 'Rice', 0)
(260, 'Fruits', 0)
(261, 'Pasta', 0)
(262, 'Dairy', 0)
(263, 'Salad', 0)
(264, 'Bread', 0)
(265, 'Fruits', 0)
(266, 'Soup', 0)
(267, 'Soup', 0)
(268, 'Fish', 0)
(269, 'Soup', 0)
(270, 'Pasta', 0)
(271, 'Rice', 0)
(272, 'Vegetables', 0)
(273, 'Salad', 0)
(274, 'Salad', 0)
(275, 'Fish', 0)
(276, 'Fruits', 0)
(277, 'Pasta', 0)
(278, 'Soup', 0)
(279, 'Chicken', 0)
(280, 'Pasta', 0)
(281, 'Rice', 0)
(282, 'Fruits', 0)
(283, 'Dairy', 0)
(284, 'Vegetables', 0)
(285, 'Rice', 0)
(286, 'Pasta', 0)
(287, 'Salad', 0)
(288, 'Bread', 0)
(289, 'Vegetables', 0)
(290, 'Dairy', 0)
(291, 'Salad', 0)
(292, 'Chicken', 0)
(293, 'Rice', 0)
(294, 'Bread', 0)
(295, 'Soup', 0)
(296, 'Dairy', 0)
(297, 'Pasta', 0)
(298, 'Chicken', 0)
(299, 'Dairy', 0)
(300, 'Pasta', 0)
(301, 'Rice', 0)
(302, 'Bread', 0)
(303, 'Fish', 0)
(304, 'Fish', 0)
(305, 'Soup', 0)
(306, 'Salad', 0)
(307, 'Chicken', 0)
(308, 'Soup', 0)
(309, 'Chicken', 0)
(310, 'Rice', 0)
(311, 'Fish', 0)
(312, 'Fruits', 0)
(313, 'Fruits', 0)
(314, 'Fish', 0)
(315, 'Salad', 0)
(316, 'Salad', 0)
(317, 'Dairy', 0)
(318, 'Pasta', 0)
(319, 'Chicken', 0)
(320, 'Vegetables', 0)
(321, 'Pasta', 0)
(322, 'Chicken', 0)
(323, 'Dairy', 0)
(324, 'Soup', 0)
(325, 'Chicken', 0)
(326, 'Soup', 0)
(327, 'Dairy', 0)
(328, 'Chicken', 0)
(329, 'Rice', 0)
(330, 'Rice', 0)
(331, 'Fish', 0)
(332, 'Rice', 0)
(333, 'Salad', 0)
(334, 'Bread', 0)
(335, 'Rice', 0)
(336, 'Dairy', 0)
(337, 'Vegetables', 0)
(338, 'Chicken', 0)
(339, 'Pasta', 0)
(340, 'Fruits', 0)
(341, 'Vegetables', 0)
(342, 'Vegetables', 0)
(343, 'Bread', 0)
(344, 'Vegetables', 0)
(345, 'Pasta', 0)
(346, 'Chicken', 0)
(347, 'Chicken', 0)
(348, 'Fish', 0)
(349, 'Vegetables', 0)
(350, 'Pasta', 0)
(351, 'Bread', 0)
(352, 'Vegetables', 0)
(353, 'Fruits', 0)
(354, 'Pasta', 0)
(355, 'Pasta', 0)
(356, 'Fish', 0)
(357, 'Chicken', 0)
(358, 'Fruits', 0)
(359, 'Bread', 0)
(360, 'Chicken', 0)
(361, 'Dairy', 0)
(362, 'Chicken', 0)
(363, 'Bread', 0)
(364, 'Fish', 0)
(365, 'Fruits', 0)
(366, 'Chicken', 0)
(367, 'Vegetables', 0)
(368, 'Salad', 0)
(369, 'Fruits', 0)
(370, 'Fruits', 0)
(371, 'Bread', 0)
(372, 'Pasta', 0)
(373, 'Rice', 0)
(374, 'Chicken', 0)
(375, 'Vegetables', 0)
(376, 'Vegetables', 0)
(377, 'Pasta', 0)
(378, 'Soup', 0)
(379, 'Rice', 0)
(380, 'Soup', 0)
(381, 'Pasta', 0)
(382, 'Salad', 0)
(383, 'Vegetables', 0)
(384, 'Fish', 0)
(385, 'Pasta', 0)
(386, 'Salad', 0)
(387, 'Rice', 0)
(388, 'Soup', 0)
(389, 'Vegetables', 0)
(390, 'Soup', 0)
(391, 'Bread', 0)
(392, 'Soup', 0)
(393, 'Bread', 0)
(394, 'Fruits', 0)
(395, 'Vegetables', 0)
(396, 'Dairy', 0)
(397, 'Salad', 0)
(398, 'Dairy', 0)
(399, 'Chicken', 0)
(400, 'Rice', 0)
(401, 'Soup', 0)
(402, 'Fish', 0)
(403, 'Bread', 0)
(404, 'Salad', 0)
(405, 'Bread', 0)
(406, 'Salad', 0)
(407, 'Chicken', 0)
(408, 'Soup', 0)
(409, 'Chicken', 0)
(410, 'Salad', 0)
(411, 'Soup', 0)
(412, 'Chicken', 0)
(413, 'Salad', 0)
(414, 'Vegetables', 0)
(415, 'Vegetables', 0)
(416, 'Soup', 0)
(417, 'Soup', 0)
(418, 'Vegetables', 0)
(419, 'Rice', 0)
(420, 'Soup', 0)
(421, 'Dairy', 0)
(422, 'Soup', 0)
(423, 'Fish', 0)
(424, 'Pasta', 0)
(425, 'Chicken', 0)
(426, 'Bread', 0)
(427, 'Soup', 0)
(428, 'Dairy', 0)
(429, 'Pasta', 0)
(430, 'Dairy', 0)
(431, 'Pasta', 0)
(432, 'Dairy', 0)
(433, 'Dairy', 0)
(434, 'Vegetables', 0)
(435, 'Chicken', 0)
(436, 'Pasta', 0)
(437, 'Chicken', 0)
(438, 'Dairy', 0)
(439, 'Fruits', 0)
(440, 'Pasta', 0)
(441, 'Fruits', 0)
(442, 'Fish', 0)
(443, 'Chicken', 0)
(444, 'Dairy', 0)
(445, 'Pasta', 0)
(446, 'Bread', 0)
(447, 'Soup', 0)
(448, 'Vegetables', 0)
(449, 'Dairy', 0)
(450, 'Bread', 0)
(451, 'Fish', 0)
(452, 'Vegetables', 0)
(453, 'Fish', 0)
(454, 'Pasta', 0)
(455, 'Pasta', 0)
(456, 'Vegetables', 0)
(457, 'Soup', 0)
(458, 'Dairy', 0)
(459, 'Rice', 0)
(460, 'Dairy', 0)
(461, 'Pasta', 0)
(462, 'Soup', 0)
(463, 'Soup', 0)
(464, 'Fish', 0)
(465, 'Rice', 0)
(466, 'Rice', 0)
(467, 'Dairy', 0)
(468, 'Fruits', 0)
(469, 'Vegetables', 0)
(470, 'Salad', 0)
(471, 'Pasta', 0)
(472, 'Salad', 0)
(473, 'Chicken', 0)
(474, 'Rice', 0)
(475, 'Pasta', 0)
(476, 'Fruits', 0)
(477, 'Dairy', 0)
(478, 'Soup', 0)
(479, 'Salad', 0)
(480, 'Pasta', 0)
(481, 'Dairy', 0)
(482, 'Salad', 0)
(483, 'Vegetables', 0)
(484, 'Bread', 0)
(485, 'Salad', 0)
(486, 'Chicken', 0)
(487, 'Fruits', 0)
(488, 'Fish', 0)
(489, 'Fish', 0)
(490, 'Salad', 0)
(491, 'Fruits', 0)
(492, 'Pasta', 0)
(493, 'Fish', 0)
(494, 'Bread', 0)
(495, 'Pasta', 0)
(496, 'Chicken', 0)
(497, 'Dairy', 0)
(498, 'Rice', 0)
(499, 'Salad', 0)
(500, 'Pasta', 0)
(501, 'Chicken', 0)
(502, 'Dairy', 0)
(503, 'Rice', 0)
(504, 'Rice', 0)
(505, 'Pasta', 0)
(506, 'Fruits', 0)
(507, 'Chicken', 0)
(508, 'Dairy', 0)
(509, 'Dairy', 0)
(510, 'Salad', 0)
(511, 'Salad', 0)
(512, 'Chicken', 0)
(513, 'Fruits', 0)
(514, 'Salad', 0)
(515, 'Dairy', 0)
(516, 'Fish', 0)
(517, 'Dairy', 0)
(518, 'Fruits', 0)
(519, 'Pasta', 0)
(520, 'Fish', 0)
(521, 'Vegetables', 0)
(522, 'Rice', 0)
(523, 'Salad', 0)
(524, 'Soup', 0)
(525, 'Soup', 0)
(526, 'Rice', 0)
(527, 'Dairy', 0)
(528, 'Chicken', 0)
(529, 'Dairy', 0)
(530, 'Soup', 0)
(531, 'Salad', 0)
(532, 'Bread', 0)
(533, 'Fruits', 0)
(534, 'Vegetables', 0)
(535, 'Fish', 0)
(536, 'Rice', 0)
(537, 'Salad', 0)
(538, 'Dairy', 0)
(539, 'Vegetables', 0)
(540, 'Soup', 0)
(541, 'Vegetables', 0)
(542, 'Bread', 0)
(543, 'Fruits', 0)
(544, 'Soup', 0)
(545, 'Pasta', 0)
(546, 'Pasta', 0)
(547, 'Chicken', 0)
(548, 'Fish', 0)
(549, 'Rice', 0)
(550, 'Rice', 0)
(551, 'Chicken', 0)
(552, 'Dairy', 0)
(553, 'Salad', 0)
(554, 'Soup', 0)
(555, 'Dairy', 0)
(556, 'Fish', 0)
(557, 'Vegetables', 0)
(558, 'Chicken', 0)
(559, 'Salad', 0)
(560, 'Fruits', 0)
(561, 'Pasta', 0)
(562, 'Dairy', 0)
(563, 'Pasta', 0)
(564, 'Fish', 0)
(565, 'Pasta', 0)
(566, 'Fish', 0)
(567, 'Bread', 0)
(568, 'Fruits', 0)
(569, 'Fish', 0)
(570, 'Vegetables', 0)
(571, 'Salad', 0)
(572, 'Bread', 0)
(573, 'Fish', 0)
(574, 'Vegetables', 0)
(575, 'Pasta', 0)
(576, 'Salad', 0)
(577, 'Bread', 0)
(578, 'Salad', 0)
(579, 'Dairy', 0)
(580, 'Rice', 0)
(581, 'Salad', 0)
(582, 'Soup', 0)
(583, 'Vegetables', 0)
(584, 'Salad', 0)
(585, 'Rice', 0)
(586, 'Vegetables', 0)
(587, 'Fruits', 0)
(588, 'Dairy', 0)
(589, 'Rice', 0)
(590, 'Fruits', 0)
(591, 'Fruits', 0)
(592, 'Rice', 0)
(593, 'Soup', 0)
(594, 'Chicken', 0)
(595, 'Salad', 0)
(596, 'Fish', 0)
(597, 'Dairy', 0)
(598, 'Rice', 0)
(599, 'Fruits', 0)
(600, 'Rice', 0)
(601, 'Vegetables', 0)
(602, 'Chicken', 0)
(603, 'Rice', 0)
(604, 'Pasta', 0)
(605, 'Vegetables', 0)
(606, 'Pasta', 0)
(607, 'Vegetables', 0)
(608, 'Vegetables', 0)
(609, 'Bread', 0)
(610, 'Pasta', 0)
(611, 'Vegetables', 0)
(612, 'Vegetables', 0)
(613, 'Bread', 0)
(614, 'Salad', 0)
(615, 'Salad', 0)
(616, 'Fish', 0)
(617, 'Soup', 0)
(618, 'Soup', 0)
(619, 'Pasta', 0)
(620, 'Chicken', 0)
(621, 'Soup', 0)
(622, 'Fish', 0)
(623, 'Salad', 0)
(624, 'Fish', 0)
(625, 'Rice', 0)
(626, 'Salad', 0)
(627, 'Vegetables', 0)
(628, 'Fish', 0)
(629, 'Bread', 0)
(630, 'Bread', 0)
(631, 'Pasta', 0)
(632, 'Fruits', 0)
(633, 'Salad', 0)
(634, 'Bread', 0)
(635, 'Pasta', 0)
(636, 'Fish', 0)
(637, 'Chicken', 0)
(638, 'Rice', 0)
(639, 'Salad', 0)
(640, 'Pasta', 0)
(641, 'Bread', 0)
(642, 'Chicken', 0)
(643, 'Salad', 0)
(644, 'Bread', 0)
(645, 'Soup', 0)
(646, 'Fruits', 0)
(647, 'Rice', 0)
(648, 'Rice', 0)
(649, 'Dairy', 0)
(650, 'Soup', 0)
(651, 'Pasta', 0)
(652, 'Fruits', 0)
(653, 'Soup', 0)
(654, 'Bread', 0)
(655, 'Salad', 0)
(656, 'Bread', 0)
(657, 'Rice', 0)
(658, 'Vegetables', 0)
(659, 'Salad', 0)
(660, 'Salad', 0)
(661, 'Bread', 0)
(662, 'Soup', 0)
(663, 'Dairy', 0)
(664, 'Bread', 0)
(665, 'Pasta', 0)
(666, 'Vegetables', 0)
(667, 'Soup', 0)
(668, 'Salad', 0)
(669, 'Vegetables', 0)
(670, 'Salad', 0)
(671, 'Salad', 0)
(672, 'Bread', 0)
(673, 'Rice', 0)
(674, 'Vegetables', 0)
(675, 'Soup', 0)
(676, 'Soup', 0)
(677, 'Dairy', 0)
(678, 'Pasta', 0)
(679, 'Bread', 0)
(680, 'Dairy', 0)
(681, 'Bread', 0)
(682, 'Pasta', 0)
(683, 'Soup', 0)
(684, 'Rice', 0)
(685, 'Rice', 0)
(686, 'Salad', 0)
(687, 'Pasta', 0)
(688, 'Salad', 0)
(689, 'Pasta', 0)
(690, 'Fruits', 0)
(691, 'Rice', 0)
(692, 'Bread', 0)
(693, 'Chicken', 0)
(694, 'Bread', 0)
(695, 'Fruits', 0)
(696, 'Rice', 0)
(697, 'Chicken', 0)
(698, 'Rice', 0)
(699, 'Salad', 0)
(700, 'Dairy', 0)
(701, 'Salad', 0)
(702, 'Bread', 0)
(703, 'Salad', 0)
(704, 'Chicken', 0)
(705, 'Fruits', 0)
(706, 'Dairy', 0)
(707, 'Soup', 0)
(708, 'Rice', 0)
(709, 'Chicken', 0)
(710, 'Chicken', 0)
(711, 'Pasta', 0)
(712, 'Pasta', 0)
(713, 'Fish', 0)
(714, 'Pasta', 0)
(715, 'Soup', 0)
(716, 'Dairy', 0)
(717, 'Salad', 0)
(718, 'Vegetables', 0)
(719, 'Pasta', 0)
(720, 'Dairy', 0)
(721, 'Vegetables', 0)
(722, 'Soup', 0)
(723, 'Pasta', 0)
(724, 'Dairy', 0)
(725, 'Soup', 0)
(726, 'Soup', 0)
(727, 'Chicken', 0)
(728, 'Dairy', 0)
(729, 'Rice', 0)
(730, 'Soup', 0)
(731, 'Fruits', 0)
(732, 'Soup', 0)
(733, 'Pasta', 0)
(734, 'Vegetables', 0)
(735, 'Fish', 0)
(736, 'Fruits', 0)
(737, 'Fish', 0)
(738, 'Fruits', 0)
(739, 'Chicken', 0)
(740, 'Salad', 0)
(741, 'Fish', 0)
(742, 'Dairy', 0)
(743, 'Chicken', 0)
(744, 'Fish', 0)
(745, 'Fruits', 0)
(746, 'Bread', 0)
(747, 'Dairy', 0)
(748, 'Soup', 0)
(749, 'Salad', 0)
(750, 'Bread', 0)
(751, 'Chicken', 0)
(752, 'Soup', 0)
(753, 'Fruits', 0)
(754, 'Dairy', 0)
(755, 'Soup', 0)
(756, 'Bread', 0)
(757, 'Dairy', 0)
(758, 'Rice', 0)
(759, 'Chicken', 0)
(760, 'Dairy', 0)
(761, 'Dairy', 0)
(762, 'Soup', 0)
(763, 'Fish', 0)
(764, 'Vegetables', 0)
(765, 'Soup', 0)
(766, 'Chicken', 0)
(767, 'Salad', 0)
(768, 'Soup', 0)
(769, 'Chicken', 0)
(770, 'Dairy', 0)
(771, 'Chicken', 0)
(772, 'Salad', 0)
(773, 'Fish', 0)
(774, 'Dairy', 0)
(775, 'Pasta', 0)
(776, 'Chicken', 0)
(777, 'Fruits', 0)
(778, 'Dairy', 0)
(779, 'Bread', 0)
(780, 'Dairy', 0)
(781, 'Bread', 0)
(782, 'Rice', 0)
(783, 'Rice', 0)
(784, 'Bread', 0)
(785, 'Bread', 0)
(786, 'Rice', 0)
(787, 'Fish', 0)
(788, 'Fish', 0)
(789, 'Chicken', 0)
(790, 'Chicken', 0)
(791, 'Soup', 0)
(792, 'Chicken', 0)
(793, 'Fruits', 0)
(794, 'Fruits', 0)
(795, 'Dairy', 0)
(796, 'Pasta', 0)
(797, 'Dairy', 0)
(798, 'Fish', 0)
(799, 'Chicken', 0)
(800, 'Dairy', 0)
(801, 'Chicken', 0)
(802, 'Soup', 0)
(803, 'Chicken', 0)
(804, 'Fruits', 0)
(805, 'Chicken', 0)
(806, 'Soup', 0)
(807, 'Salad', 0)
(808, 'Dairy', 0)
(809, 'Dairy', 0)
(810, 'Bread', 0)
(811, 'Salad', 0)
(812, 'Bread', 0)
(813, 'Fish', 0)
(814, 'Bread', 0)
(815, 'Pasta', 0)
(816, 'Fruits', 0)
(817, 'Rice', 0)
(818, 'Fish', 0)
(819, 'Bread', 0)
(820, 'Fruits', 0)
(821, 'Chicken', 0)
(822, 'Dairy', 0)
(823, 'Chicken', 0)
(824, 'Bread', 0)
(825, 'Salad', 0)
(826, 'Bread', 0)
(827, 'Salad', 0)
(828, 'Vegetables', 0)
(829, 'Dairy', 0)
(830, 'Vegetables', 0)
(831, 'Pasta', 0)
(832, 'Fish', 0)
(833, 'Fruits', 0)
(834, 'Pasta', 0)
(835, 'Vegetables', 0)
(836, 'Salad', 0)
(837, 'Soup', 0)
(838, 'Bread', 0)
(839, 'Chicken', 0)
(840, 'Dairy', 0)
(841, 'Chicken', 0)
(842, 'Bread', 0)
(843, 'Fruits', 0)
(844, 'Fish', 0)
(845, 'Bread', 0)
(846, 'Salad', 0)
(847, 'Pasta', 0)
(848, 'Dairy', 0)
(849, 'Pasta', 0)
(850, 'Dairy', 0)
(851, 'Fruits', 0)
(852, 'Vegetables', 0)
(853, 'Rice', 0)
(854, 'Fish', 0)
(855, 'Salad', 0)
(856, 'Rice', 0)
(857, 'Pasta', 0)
(858, 'Fruits', 0)
(859, 'Pasta', 0)
(860, 'Fish', 0)
(861, 'Dairy', 0)
(862, 'Dairy', 0)
(863, 'Fruits', 0)
(864, 'Soup', 0)
(865, 'Fish', 0)
(866, 'Fish', 0)
(867, 'Soup', 0)
(868, 'Soup', 0)
(869, 'Fish', 0)
(870, 'Fish', 0)
(871, 'Chicken', 0)
(872, 'Vegetables', 0)
(873, 'Rice', 0)
(874, 'Bread', 0)
(875, 'Bread', 0)
(876, 'Salad', 0)
(877, 'Chicken', 0)
(878, 'Rice', 0)
(879, 'Chicken', 0)
(880, 'Soup', 0)
(881, 'Dairy', 0)
(882, 'Salad', 0)
(883, 'Bread', 0)
(884, 'Chicken', 0)
(885, 'Rice', 0)
(886, 'Bread', 0)
(887, 'Soup', 0)
(888, 'Salad', 0)
(889, 'Soup', 0)
(890, 'Chicken', 0)
(891, 'Chicken', 0)
(892, 'Bread', 0)
(893, 'Salad', 0)
(894, 'Pasta', 0)
(895, 'Pasta', 0)
(896, 'Vegetables', 0)
(897, 'Chicken', 0)
(898, 'Fish', 0)
(899, 'Pasta', 0)
(900, 'Dairy', 0)
(901, 'Vegetables', 0)
(902, 'Salad', 0)
(903, 'Rice', 0)
(904, 'Chicken', 0)
(905, 'Bread', 0)
(906, 'Soup', 0)
(907, 'Chicken', 0)
(908, 'Rice', 0)
(909, 'Fish', 0)
(910, 'Salad', 0)
(911, 'Fish', 0)
(912, 'Dairy', 0)
(913, 'Fruits', 0)
(914, 'Chicken', 0)
(915, 'Vegetables', 0)
(916, 'Rice', 0)
(917, 'Soup', 0)
(918, 'Dairy', 0)
(919, 'Soup', 0)
(920, 'Soup', 0)
(921, 'Chicken', 0)
(922, 'Soup', 0)
(923, 'Fruits', 0)
(924, 'Fish', 0)
(925, 'Salad', 0)
(926, 'Rice', 0)
(927, 'Fruits', 0)
(928, 'Bread', 0)
(929, 'Bread', 0)
(930, 'Chicken', 0)
(931, 'Vegetables', 0)
(932, 'Pasta', 0)
(933, 'Dairy', 0)
(934, 'Salad', 0)
(935, 'Vegetables', 0)
(936, 'Chicken', 0)
(937, 'Bread', 0)
(938, 'Vegetables', 0)
(939, 'Rice', 0)
(940, 'Fish', 0)
(941, 'Fish', 0)
(942, 'Rice', 0)
(943, 'Bread', 0)
(944, 'Vegetables', 0)
(945, 'Vegetables', 0)
(946, 'Vegetables', 0)
(947, 'Bread', 0)
(948, 'Fruits', 0)
(949, 'Pasta', 0)
(950, 'Pasta', 0)
(951, 'Vegetables', 0)
(952, 'Pasta', 0)
(953, 'Soup', 0)
(954, 'Rice', 0)
(955, 'Soup', 0)
(956, 'Chicken', 0)
(957, 'Fish', 0)
(958, 'Soup', 0)
(959, 'Pasta', 0)
(960, 'Fish', 0)
(961, 'Soup', 0)
(962, 'Soup', 0)
(963, 'Fish', 0)
(964, 'Rice', 0)
(965, 'Dairy', 0)
(966, 'Dairy', 0)
(967, 'Fruits', 0)
(968, 'Rice', 0)
(969, 'Soup', 0)
(970, 'Fruits', 0)
(971, 'Fish', 0)
(972, 'Vegetables', 0)
(973, 'Fruits', 0)
(974, 'Chicken', 0)
(975, 'Fish', 0)
(976, 'Vegetables', 0)
(977, 'Vegetables', 0)
(978, 'Dairy', 0)
(979, 'Pasta', 0)
(980, 'Chicken', 0)
(981, 'Dairy', 0)
(982, 'Soup', 0)
(983, 'Fruits', 0)
(984, 'Chicken', 0)
(985, 'Bread', 0)
(986, 'Rice', 0)
(987, 'Dairy', 0)
(988, 'Soup', 0)
(989, 'Bread', 0)
(990, 'Pasta', 0)
(991, 'Vegetables', 0)
(992, 'Salad', 0)
(993, 'Soup', 0)
(994, 'Salad', 0)
(995, 'Rice', 0)
(996, 'Fish', 0)
(997, 'Fish', 0)
(998, 'Fruits', 0)
(999, 'Pasta', 0)
(1000, 'Salad', 0)

In [29]:
#9 Which provider has had the highest number of successful food claims?

query9 = """
SELECT p.Provider_ID, p.Name, COUNT(c.Claim_ID) AS Successful_Claims
FROM providers p
JOIN food_listings f ON p.Provider_ID = f.Provider_ID
JOIN claims c ON f.Food_ID = c.Food_ID
WHERE c.Status = 'Successful'
GROUP BY p.Provider_ID, p.Name
ORDER BY Successful_Claims DESC
LIMIT 1;
"""

cursor.execute(query9)
rows = cursor.fetchall()

for row in rows:
    print(row)

In [30]:
print(row)

(1000, 'Salad', 0)

In [31]:
#10 What percentage of food claims are completed vs. pending vs. canceled?

query10 = """
SELECT Status,
       CONCAT(ROUND((COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims)), 2), '%') AS Percentage
FROM claims
GROUP BY Status;
"""

cursor.execute(query10)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Pending', '50.00%')
('Approved', '50.00%')

In [32]:
#Analysis & Insights
# 11. What is the average quantity of food claimed per receiver?

query11 = """
SELECT r.Receiver_ID,
       r.Name,
       AVG(f.Quantity) AS Avg_Quantity_Claimed
FROM Receivers r
JOIN Claims c ON r.Receiver_ID = c.Receiver_ID
JOIN Food_Listings f ON c.Food_ID = f.Food_ID
GROUP BY r.Receiver_ID, r.Name;
"""

cursor.execute(query11)
rows = cursor.fetchall()

for row in rows:
    print(row)

(201, 'Calvin Lucas', Decimal('35.0000'))
(202, 'Veronica Coleman', Decimal('35.0000'))

In [33]:
# 12. Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

query12 = """
SELECT f.Meal_Type,
       COUNT(*) AS Total_Claims
FROM Claims c
JOIN Food_Listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Meal_Type
ORDER BY Total_Claims DESC;
"""

cursor.execute(query12)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Dinner', 4)
('Snacks', 4)

In [34]:
#13 Total quantity of food donated by each provider
query13 = """
SELECT p.Provider_ID,
       p.Name,
       SUM(f.Quantity) AS Total_Quantity_Donated
FROM Providers p
JOIN Food_Listings f ON p.Provider_ID = f.Provider_ID
GROUP BY p.Provider_ID, p.Name
ORDER BY Total_Quantity_Donated DESC;
"""

cursor.execute(query13)
rows = cursor.fetchall()

for row in rows:
    print(row)

(709, 'Barry Group', Decimal('179'))
(306, 'Evans, Wright and Mitchell', Decimal('158'))
(655, 'Smith Group', Decimal('150'))
(315, 'Nelson LLC', Decimal('142'))
(678, 'Ruiz-Oneal', Decimal('140'))
(499, 'Blankenship-Lewis', Decimal('124'))
(161, 'Campbell LLC', Decimal('123'))
(41, 'Kelly-Ware', Decimal('123'))
(262, 'Bradford-Martinez', Decimal('121'))
(717, 'Shepherd and Sons', Decimal('116'))
(146, 'Hampton-Lee', Decimal('116'))
(498, 'Jones, Ortega and Rubio', Decimal('115'))
(7, 'Ortiz-Lee', Decimal('114'))
(139, 'Johnson-Ray', Decimal('113'))
(846, 'Miller Inc', Decimal('111'))
(938, 'Barker LLC', Decimal('110'))
(995, 'Moore Group', Decimal('106'))
(518, 'Hill, Davis and Stewart', Decimal('106'))
(752, 'Butler-Richardson', Decimal('104'))
(393, 'Steele Ltd', Decimal('104'))
(478, 'Lopez, Roach and Roach', Decimal('102'))
(251, 'Carter-Jones', Decimal('101'))
(192, 'Hunter, Ballard and Caldwell', Decimal('101'))
(485, 'Baker-Mcdonald', Decimal('99'))
(332, 'Cox LLC', Decimal('99'))
(98, 'Hogan-Johnston', Decimal('99'))
(47, 'Wong-Reese', Decimal('98'))
(242, 'Aguilar-Frederick', Decimal('98'))
(312, 'Garcia-Hunter', Decimal('97'))
(346, 'Phillips, Wolfe and Martin', Decimal('97'))
(888, 'Schmidt-Alexander', Decimal('97'))
(892, 'Flores-Wade', Decimal('96'))
(4, 'Clark, Prince and Williams', Decimal('96'))
(826, 'Rogers, Harmon and Gordon', Decimal('96'))
(138, 'Jones, Rojas and Brown', Decimal('96'))
(705, 'Brown-Stephens', Decimal('96'))
(357, 'Carey PLC', Decimal('95'))
(898, 'Wilson Group', Decimal('94'))
(391, 'Lambert Ltd', Decimal('94'))
(308, 'Doyle LLC', Decimal('93'))
(920, 'Hudson, Spence and Perez', Decimal('93'))
(770, 'Schneider-Suarez', Decimal('92'))
(208, 'Miller, Johnson and Fernandez', Decimal('92'))
(5, 'Coleman-Farley', Decimal('92'))
(237, 'White, Crawford and Pearson', Decimal('91'))
(610, 'Kelly, Cummings and Ward', Decimal('90'))
(563, 'Daniels-Kim', Decimal('90'))
(783, 'Cooper LLC', Decimal('90'))
(384, 'Rogers-Warren', Decimal('89'))
(210, 'Jones-Miller', Decimal('88'))
(993, 'Mckinney Ltd', Decimal('88'))
(176, 'Allen-Mccullough', Decimal('88'))
(501, 'Davis-Kennedy', Decimal('88'))
(87, 'Young, Townsend and Mccarthy', Decimal('87'))
(768, 'Davis, Hughes and Leblanc', Decimal('87'))
(861, 'Rogers, Robbins and Cook', Decimal('87'))
(609, 'Torres-Dunlap', Decimal('87'))
(417, 'Glover, Wilson and Hudson', Decimal('86'))
(850, 'Cooper, Osborn and Clark', Decimal('86'))
(596, 'Barnes, Castro and Curtis', Decimal('84'))
(455, 'Rios Group', Decimal('82'))
(825, 'Smith, Lynch and Anderson', Decimal('82'))
(290, 'Webb, Phillips and Garcia', Decimal('81'))
(847, 'Pollard, Collins and Watson', Decimal('81'))
(344, 'Mcmillan, Gallegos and Perry', Decimal('80'))
(205, 'Thompson Group', Decimal('80'))
(758, 'Todd Group', Decimal('79'))
(723, 'Butler-Phillips', Decimal('79'))
(910, 'Lee PLC', Decimal('79'))
(57, 'Cook Group', Decimal('79'))
(779, 'Maynard LLC', Decimal('79'))
(1, 'Gonzales-Cochran', Decimal('78'))
(584, 'Sanders-Hale', Decimal('78'))
(703, 'Pierce Group', Decimal('78'))
(858, 'Petersen, Morrison and Woods', Decimal('78'))
(986, 'Wilson, Harris and Mayo', Decimal('78'))
(983, 'Munoz, Stone and Wallace', Decimal('78'))
(140, 'Zhang LLC', Decimal('76'))
(750, 'Barnes and Sons', Decimal('75'))
(484, 'Nelson-White', Decimal('75'))
(71, 'Jones-Edwards', Decimal('75'))
(354, 'Rowe-Arias', Decimal('74'))
(407, 'Douglas and Sons', Decimal('74'))
(371, 'Montgomery, Dominguez and Hopkins', Decimal('74'))
(528, 'Baird PLC', Decimal('73'))
(113, 'Anderson, Nicholson and Bruce', Decimal('73'))
(632, 'Oliver, Ross and Johnson', Decimal('73'))
(253, 'Gonzales-Keith', Decimal('73'))
(643, 'Dixon LLC', Decimal('73'))
(31, 'Thompson-Kerr', Decimal('72'))
(363, 'Henry-Terry', Decimal('72'))
(785, 'Crane LLC', Decimal('71'))
(231, 'Jackson-Robinson', Decimal('70'))
(365, 'Bray, Nguyen and Christensen', Decimal('70'))
(835, 'Smith-Paul', Decimal('69'))
(517, 'Porter Inc', Decimal('69'))
(491, 'Wilkerson-Woods', Decimal('68'))
(264, 'Holland and Sons', Decimal('68'))
(287, 'Carr-Wells', Decimal('68'))
(685, 'Scott and Sons', Decimal('68'))
(232, 'Snyder, Caldwell and Campbell', Decimal('68'))
(196, 'Owens-Taylor', Decimal('67'))
(791, 'Aguilar Group', Decimal('66'))
(890, 'Simpson, Mcguire and Brown', Decimal('66'))
(368, 'Smith-Villegas', Decimal('65'))
(602, 'Cole LLC', Decimal('65'))
(554, 'Jackson Ltd', Decimal('65'))
(970, 'Lewis, Preston and Price', Decimal('65'))
(523, 'Roberts, Howard and Bender', Decimal('65'))
(387, 'Barrera-Ward', Decimal('64'))
(863, 'Johnson-Mejia', Decimal('64'))
(54, 'Bennett, Phillips and Green', Decimal('64'))
(319, 'Davila, Green and Avila', Decimal('64'))
(912, 'Morrison LLC', Decimal('64'))
(221, 'Richardson Group', Decimal('64'))
(347, 'Hood, Hoffman and Wright', Decimal('64'))
(961, 'Davis, Sanchez and Mendez', Decimal('64'))
(62, 'Mitchell, Campbell and Jones', Decimal('64'))
(34, 'Cooper, Smith and King', Decimal('63'))
(162, 'Moore, Perez and Young', Decimal('63'))
(834, 'Bruce Inc', Decimal('63'))
(697, 'Rodriguez, Thomas and Foster', Decimal('63'))
(897, 'Stephens-Braun', Decimal('62'))
(874, 'Long-Alexander', Decimal('62'))
(967, 'Miller Inc', Decimal('62'))
(980, 'Baker Group', Decimal('62'))
(459, 'Brown Ltd', Decimal('62'))
(421, 'Glass Inc', Decimal('62'))
(550, 'Phelps, Graham and Hayes', Decimal('61'))
(905, 'Ayers LLC', Decimal('60'))
(631, 'Mueller, Savage and Hudson', Decimal('60'))
(101, 'Chambers-Waters', Decimal('60'))
(906, 'Wright LLC', Decimal('59'))
(810, 'Austin, Griffin and Ward', Decimal('59'))
(330, 'Holloway-Koch', Decimal('59'))
(664, 'Caldwell PLC', Decimal('59'))
(154, 'Smith-Turner', Decimal('59'))
(276, 'Hodge-Leblanc', Decimal('58'))
(66, 'Lambert-Wilson', Decimal('57'))
(999, 'Moody Ltd', Decimal('57'))
(979, 'Gray PLC', Decimal('57'))
(201, 'Ramirez LLC', Decimal('56'))
(725, 'Nguyen, Chan and Brown', Decimal('56'))
(792, 'Rogers-Maldonado', Decimal('56'))
(460, 'Gutierrez, Anthony and Shannon', Decimal('55'))
(904, 'Smith-Morales', Decimal('55'))
(58, 'Martin, Tyler and Wilkerson', Decimal('55'))
(432, 'Meyer and Sons', Decimal('55'))
(507, 'Rojas-Cook', Decimal('55'))
(37, 'Phelps-Schmidt', Decimal('55'))
(467, 'Wilson, Watkins and Moore', Decimal('55'))
(389, 'Hunt-Lee', Decimal('54'))
(108, 'Williams-Cox', Decimal('53'))
(288, 'Carlson-Mathis', Decimal('53'))
(135, 'Dyer Group', Decimal('53'))
(2, 'Nielsen, Johnson and Fuller', Decimal('53'))
(419, 'Hanson, Wilkerson and Lee', Decimal('52'))
(538, 'Beck Inc', Decimal('52'))
(556, 'Reyes, Houston and Esparza', Decimal('52'))
(117, 'Morales, Wood and Cox', Decimal('52'))
(736, 'Reed LLC', Decimal('52'))
(504, 'Small Ltd', Decimal('51'))
(353, 'Rose-Pearson', Decimal('51'))
(885, 'Spears, Anderson and Huffman', Decimal('51'))
(179, 'Lucas, Bush and Miller', Decimal('50'))
(909, 'Gibbs, Green and Krause', Decimal('50'))
(619, 'Hopkins, Mora and Green', Decimal('50'))
(238, 'Decker Group', Decimal('50'))
(494, 'Anderson, Adams and Roberts', Decimal('50'))
(404, 'Schmidt Ltd', Decimal('50'))
(185, 'Horn, Johnson and Moore', Decimal('50'))
(17, 'Miller Ltd', Decimal('50'))
(573, 'Nelson Ltd', Decimal('50'))
(157, 'Rodriguez, Walker and Singleton', Decimal('50'))
(248, 'Oliver, Cross and Gilbert', Decimal('50'))
(642, 'Woodward-Jensen', Decimal('50'))
(951, 'Hodge, Lee and Washington', Decimal('50'))
(343, 'Harris, Perez and Willis', Decimal('49'))
(153, 'Wu LLC', Decimal('49'))
(403, 'Bradley-Smith', Decimal('49'))
(707, 'Peterson, Lee and Moore', Decimal('49'))
(255, 'Chapman, Barrett and Lopez', Decimal('49'))
(20, 'Drake-Martinez', Decimal('49'))
(873, 'Parsons and Sons', Decimal('49'))
(240, 'Marshall Ltd', Decimal('49'))
(566, 'Cole-Stein', Decimal('49'))
(471, 'Allen, Ramsey and Cortez', Decimal('49'))
(712, 'Payne Inc', Decimal('49'))
(440, 'Martinez-Graham', Decimal('48'))
(763, 'Manning Ltd', Decimal('48'))
(840, 'Farmer Ltd', Decimal('48'))
(702, 'Moreno-Melton', Decimal('48'))
(551, 'Holland, Caldwell and Oliver', Decimal('48'))
(946, 'Brock, Newton and Mccormick', Decimal('48'))
(908, 'Martinez-Young', Decimal('48'))
(928, 'Larson and Sons', Decimal('48'))
(901, 'Galvan Ltd', Decimal('48'))
(515, 'Bowers, Gonzalez and Simmons', Decimal('48'))
(355, 'Bowman LLC', Decimal('48'))
(292, 'Lopez-Duffy', Decimal('48'))
(423, 'Serrano-Lopez', Decimal('48'))
(997, 'Garza-Williams', Decimal('47'))
(340, 'Barry, Powers and White', Decimal('47'))
(693, 'Salazar PLC', Decimal('47'))
(839, 'Roth, Estrada and Vang', Decimal('47'))
(1000, 'Jenkins-Brooks', Decimal('47'))
(761, 'Abbott, Brooks and Moreno', Decimal('47'))
(63, 'Fuller, Vincent and Fernandez', Decimal('47'))
(634, 'Morgan-Blackwell', Decimal('47'))
(871, 'Burke, Yates and Hicks', Decimal('47'))
(532, 'Johnson-Green', Decimal('47'))
(578, 'Vega Ltd', Decimal('47'))
(16, 'Brown and Sons', Decimal('47'))
(97, 'King-Snyder', Decimal('47'))
(74, 'Johnston Ltd', Decimal('46'))
(244, 'Chan-Elliott', Decimal('46'))
(409, 'Ayala LLC', Decimal('46'))
(273, 'Hammond LLC', Decimal('46'))
(84, 'Atkins Group', Decimal('46'))
(212, 'Dennis, Parker and Sanchez', Decimal('46'))
(217, 'Williams Ltd', Decimal('46'))
(753, 'Lawrence-Clark', Decimal('46'))
(495, 'Barker, Gibbs and Lopez', Decimal('46'))
(567, 'Clark-Taylor', Decimal('45'))
(202, 'Graham-Peters', Decimal('45'))
(351, 'Berry-Mack', Decimal('45'))
(224, 'Hughes-Jackson', Decimal('45'))
(801, 'Black Group', Decimal('45'))
(33, 'Miranda, Wilcox and Short', Decimal('45'))
(50, 'Perez-Williams', Decimal('45'))
(937, 'Taylor Group', Decimal('45'))
(789, 'Blair Group', Decimal('45'))
(616, 'Moore-Flowers', Decimal('44'))
(29, 'Andrews-Wiley', Decimal('44'))
(241, 'Harper, Blake and Alexander', Decimal('44'))
(815, 'Brown-Butler', Decimal('44'))
(984, 'Gamble-Davis', Decimal('44'))
(158, 'Shepherd Group', Decimal('44'))
(701, 'Pearson-Barry', Decimal('44'))
(868, 'West, Martinez and Warren', Decimal('44'))
(503, 'Abbott-Robinson', Decimal('44'))
(591, 'Miller Inc', Decimal('44'))
(110, 'Figueroa-Soto', Decimal('43'))
(798, 'Jordan LLC', Decimal('43'))
(514, 'Roy-Hancock', Decimal('43'))
(968, 'Robinson, Schaefer and Foster', Decimal('43'))
(672, 'Ferguson, Henderson and Watson', Decimal('43'))
(531, 'Miller Ltd', Decimal('43'))
(548, 'House, James and Miller', Decimal('43'))
(310, 'Sullivan, Thornton and Peterson', Decimal('43'))
(535, 'Hill PLC', Decimal('42'))
(293, 'Ibarra and Sons', Decimal('42'))
(477, 'Alvarado LLC', Decimal('42'))
(737, 'Ballard, Stanley and Hill', Decimal('42'))
(716, 'Wright-Hogan', Decimal('42'))
(735, 'Koch Inc', Decimal('42'))
(582, 'Wilkerson and Sons', Decimal('42'))
(793, 'Thomas-Flores', Decimal('42'))
(358, 'Cole-Ochoa', Decimal('42'))
(592, 'Chan PLC', Decimal('42'))
(72, 'Ward, Shepherd and Krause', Decimal('42'))
(817, 'Mullins Ltd', Decimal('42'))
(324, 'Roberts Group', Decimal('42'))
(282, 'Baker, Gardner and Callahan', Decimal('42'))
(405, 'Mills, Smith and Martin', Decimal('42'))
(700, 'Webster and Sons', Decimal('41'))
(372, 'Elliott-Jones', Decimal('41'))
(46, 'Fisher, Hernandez and Webster', Decimal('41'))
(129, 'Hicks Ltd', Decimal('41'))
(807, 'Stewart, Rocha and Torres', Decimal('41'))
(738, 'Combs Ltd', Decimal('41'))
(235, 'Gutierrez LLC', Decimal('40'))
(215, 'Simmons Ltd', Decimal('40'))
(512, 'Taylor-Lyons', Decimal('40'))
(692, 'Rocha, Johnson and Dunlap', Decimal('40'))
(321, 'Williams-Boyle', Decimal('40'))
(133, 'Baker LLC', Decimal('40'))
(123, 'Stephens-Stephens', Decimal('40'))
(583, 'Martin-Wright', Decimal('40'))
(111, 'Ball-Church', Decimal('40'))
(509, 'Roth-Mathews', Decimal('40'))
(96, 'Pierce, Walsh and Rogers', Decimal('39'))
(270, 'Harrison-Wilson', Decimal('39'))
(252, 'Blair LLC', Decimal('39'))
(714, 'Ramos Group', Decimal('39'))
(49, 'Miller, Braun and Graham', Decimal('39'))
(505, 'Sutton, Day and Brooks', Decimal('39'))
(199, 'Clark, Evans and Navarro', Decimal('39'))
(200, 'Turner-Woods', Decimal('39'))
(962, 'Galloway-Henderson', Decimal('39'))
(261, 'Lopez, Davis and Duncan', Decimal('39'))
(626, 'Trevino Ltd', Decimal('39'))
(10, 'Hall, Nguyen and Martinez', Decimal('39'))
(862, 'Obrien-Carr', Decimal('38'))
(277, 'Ramos and Sons', Decimal('38'))
(159, 'Wagner, Cole and Thompson', Decimal('38'))
(524, 'Torres Ltd', Decimal('38'))
(170, 'Peters, Chase and Davis', Decimal('38'))
(876, 'Rosario-Porter', Decimal('38'))
(766, 'Parker Group', Decimal('38'))
(435, 'Davies, Salas and Clark', Decimal('38'))
(541, 'Lewis-Deleon', Decimal('38'))
(78, 'Frazier LLC', Decimal('38'))
(183, 'Elliott-Stephens', Decimal('38'))
(600, 'Green LLC', Decimal('37'))
(43, 'Martinez, Johnson and Torres', Decimal('37'))
(144, 'Johnson, Harris and White', Decimal('37'))
(786, 'Simmons-Davis', Decimal('37'))
(274, 'Shields-Moore', Decimal('37'))
(289, 'Jenkins-Carpenter', Decimal('37'))
(934, 'Nelson and Sons', Decimal('37'))
(533, 'Daniel, Schroeder and Morse', Decimal('37'))
(557, 'Smith PLC', Decimal('37'))
(434, 'Kennedy-Johnston', Decimal('36'))
(595, 'Knox and Sons', Decimal('36'))
(933, 'Jimenez-Ramirez', Decimal('36'))
(93, 'Davis, Vaughan and Shepherd', Decimal('36'))
(932, 'Jones, Allison and Ellison', Decimal('36'))
(857, 'Holmes-Schaefer', Decimal('36'))
(780, 'Lee LLC', Decimal('36'))
(722, 'Young-Luna', Decimal('35'))
(446, 'Nichols-Barnes', Decimal('35'))
(657, 'Carpenter-Wright', Decimal('35'))
(886, 'Gentry and Sons', Decimal('35'))
(86, 'Murphy-Boyd', Decimal('35'))
(784, 'Wolfe, Hull and Richardson', Decimal('35'))
(474, 'Gonzalez Inc', Decimal('35'))
(304, 'Douglas-Colon', Decimal('35'))
(516, 'Raymond, Kelly and Yates', Decimal('35'))
(954, 'Herrera LLC', Decimal('35'))
(198, 'Bowman LLC', Decimal('35'))
(52, 'Buck-Carey', Decimal('35'))
(95, 'Orr Inc', Decimal('34'))
(599, 'Gomez LLC', Decimal('34'))
(338, 'Ibarra LLC', Decimal('34'))
(178, 'Mcbride-Rogers', Decimal('34'))
(671, 'Sanders and Sons', Decimal('34'))
(677, 'Gonzalez, Dunn and Oconnell', Decimal('34'))
(223, 'Hodges and Sons', Decimal('34'))
(327, 'Miller, Conner and Clark', Decimal('34'))
(350, 'Scott, Johnson and Villa', Decimal('34'))
(887, 'Preston-Smith', Decimal('34'))
(894, 'Fowler-Morgan', Decimal('34'))
(115, 'Wells-Davis', Decimal('33'))
(243, 'Davis-Hurley', Decimal('33'))
(848, 'Fisher PLC', Decimal('33'))
(687, 'Mcdonald-Howell', Decimal('33'))
(422, 'Wilson-Cook', Decimal('33'))
(228, 'Stewart-Soto', Decimal('33'))
(206, 'Yoder-Murray', Decimal('33'))
(782, 'Wheeler-Galvan', Decimal('33'))
(540, 'Randall-Wagner', Decimal('33'))
(726, 'Hancock-Jackson', Decimal('33'))
(853, 'Jefferson Group', Decimal('33'))
(116, 'Mcdaniel-Morales', Decimal('33'))
(694, 'Avery PLC', Decimal('33'))
(463, 'Carey-Ramos', Decimal('33'))
(249, 'Davis, Sanchez and Hernandez', Decimal('33'))
(804, 'Jackson Ltd', Decimal('33'))
(827, 'Stewart, Cox and Tate', Decimal('33'))
(570, 'Jones, Calderon and Finley', Decimal('32'))
(530, 'Spencer, Eaton and Young', Decimal('32'))
(414, 'Gonzales Group', Decimal('32'))
(960, 'Jackson, Shelton and Mayer', Decimal('32'))
(267, 'Sherman-Garza', Decimal('32'))
(777, 'Giles, Weiss and Brown', Decimal('32'))
(426, 'Cook-Rodriguez', Decimal('32'))
(547, 'Walter, Gonzales and Potter', Decimal('32'))
(381, 'Cruz, Lee and Fernandez', Decimal('32'))
(82, 'Carey-Richardson', Decimal('32'))
(989, 'Williams-Aguirre', Decimal('31'))
(760, 'Frederick LLC', Decimal('31'))
(958, 'Patel Ltd', Decimal('31'))
(429, 'Olson, Johnson and Figueroa', Decimal('31'))
(754, 'Rodriguez and Sons', Decimal('31'))
(239, 'Simpson, Thomas and Smith', Decimal('31'))
(263, 'Lutz, Smith and Martin', Decimal('31'))
(732, 'Mendoza LLC', Decimal('31'))
(935, 'Frazier-Sanders', Decimal('31'))
(150, 'Powers, Clark and Snyder', Decimal('30'))
(589, 'Boyd, Padilla and Simpson', Decimal('30'))
(151, 'Butler-Newman', Decimal('30'))
(295, 'Patterson, Harris and Kelly', Decimal('30'))
(285, 'Sanchez-Fisher', Decimal('30'))
(483, 'Bates-Johnson', Decimal('30'))
(268, 'White, Hutchinson and Williams', Decimal('29'))
(464, 'Barber Ltd', Decimal('29'))
(247, 'Shepherd-Yates', Decimal('29'))
(345, 'Mitchell-Watson', Decimal('29'))
(234, 'Sherman-Baker', Decimal('29'))
(625, 'Whitney-Fields', Decimal('29'))
(734, 'Patterson-Collins', Decimal('29'))
(720, 'Page, Smith and Davis', Decimal('29'))
(413, 'Davis, Bowen and Miller', Decimal('29'))
(795, 'Rollins-Mclaughlin', Decimal('28'))
(931, 'Phillips-Bradley', Decimal('28'))
(356, 'Espinoza PLC', Decimal('28'))
(718, 'Livingston Inc', Decimal('28'))
(222, 'Tran, Douglas and Harvey', Decimal('28'))
(227, 'Morse-Hoffman', Decimal('28'))
(497, 'Sparks-Berry', Decimal('28'))
(265, 'Simmons-Mcdaniel', Decimal('28'))
(710, 'Adams-Meyer', Decimal('28'))
(611, 'Williams-Manning', Decimal('27'))
(367, 'Patel and Sons', Decimal('27'))
(316, 'Johnson Group', Decimal('27'))
(107, 'Pollard, Tyler and Davis', Decimal('27'))
(640, 'Cook, Jackson and Griffith', Decimal('27'))
(284, 'Cruz Inc', Decimal('27'))
(802, 'Williams Inc', Decimal('27'))
(11, 'Flores, Jackson and Ford', Decimal('27'))
(169, 'Hines-Green', Decimal('27'))
(719, 'Graham PLC', Decimal('27'))
(587, 'Davis, Cruz and Schaefer', Decimal('27'))
(40, 'Robinson PLC', Decimal('27'))
(698, 'Hawkins-Novak', Decimal('26'))
(465, 'Terry Inc', Decimal('26'))
(182, 'Wilson-Ortiz', Decimal('26'))
(323, 'Peters-Johnson', Decimal('26'))
(985, 'Frey PLC', Decimal('26'))
(585, 'Warren Group', Decimal('26'))
(373, 'Avila Group', Decimal('26'))
(102, 'Hester, Bowers and Carpenter', Decimal('26'))
(576, 'Townsend Inc', Decimal('25'))
(100, 'Greene-Garcia', Decimal('25'))
(103, 'Russell-Summers', Decimal('25'))
(22, 'Miller-Carter', Decimal('25'))
(923, 'Rodriguez Inc', Decimal('25'))
(331, 'Edwards, Johnson and Cross', Decimal('25'))
(879, 'Hughes Ltd', Decimal('25'))
(837, 'Horn-House', Decimal('25'))
(452, 'Roberson, Marquez and Mcdowell', Decimal('25'))
(257, 'James Group', Decimal('25'))
(558, 'Beck Group', Decimal('24'))
(380, 'Nelson PLC', Decimal('24'))
(676, 'Osborne LLC', Decimal('24'))
(668, 'Williams, Simpson and Waters', Decimal('24'))
(608, 'Love-Montgomery', Decimal('24'))
(977, 'Anderson and Sons', Decimal('23'))
(903, 'Galloway, Hall and Oconnell', Decimal('23'))
(333, 'Herrera, Fritz and Banks', Decimal('23'))
(126, 'Jackson, Gonzalez and Smith', Decimal('23'))
(911, 'Alexander PLC', Decimal('23'))
(559, 'Young, Moran and Morris', Decimal('23'))
(152, 'Rogers-Shaw', Decimal('23'))
(181, 'Black, Montgomery and Hernandez', Decimal('23'))
(14, 'Nguyen-Tran', Decimal('23'))
(828, 'Campbell LLC', Decimal('22'))
(647, 'Hayes Inc', Decimal('22'))
(90, 'Miller Group', Decimal('22'))
(794, 'Coleman, Williams and Nichols', Decimal('22'))
(254, 'Huber Group', Decimal('22'))
(866, 'Jones-Patterson', Decimal('22'))
(85, 'Larson Ltd', Decimal('22'))
(527, 'Moran, Mcmillan and Jones', Decimal('22'))
(552, 'Schwartz, Holland and Mccarthy', Decimal('22'))
(67, 'Shannon Ltd', Decimal('22'))
(35, 'Nguyen-Parsons', Decimal('22'))
(621, 'Chan Group', Decimal('21'))
(520, 'Jackson, Miller and Porter', Decimal('21'))
(577, 'Taylor-Matthews', Decimal('21'))
(982, 'Martinez PLC', Decimal('21'))
(453, 'Moore LLC', Decimal('21'))
(408, 'Thompson-Ortiz', Decimal('21'))
(42, 'Austin-Yu', Decimal('21'))
(65, 'Fletcher Inc', Decimal('21'))
(776, 'Lee, Walker and Woodward', Decimal('21'))
(9, 'Nguyen Inc', Decimal('21'))
(636, 'Carroll-Stanley', Decimal('21'))
(778, 'Blanchard-Parsons', Decimal('21'))
(266, 'Thomas-Carpenter', Decimal('21'))
(122, 'Mosley-Hernandez', Decimal('20'))
(882, 'Freeman, Allen and Castaneda', Decimal('20'))
(572, 'Shaw Group', Decimal('20'))
(880, 'Johnson-Brown', Decimal('20'))
(68, 'Sherman-Wolfe', Decimal('20'))
(342, 'Smith Inc', Decimal('20'))
(852, 'Jones-Burnett', Decimal('20'))
(118, 'Evans-Harrison', Decimal('20'))
(120, 'Burns-Davis', Decimal('19'))
(751, 'Bryant, Jacobson and West', Decimal('19'))
(902, 'Parsons Ltd', Decimal('19'))
(26, 'Hansen Inc', Decimal('19'))
(388, 'Rivera Ltd', Decimal('19'))
(981, 'Glenn-York', Decimal('19'))
(922, 'Villegas Inc', Decimal('19'))

In [36]:
#14 Question: Which provider type has the most providers?

query14 = """
SELECT Type, COUNT(*) AS Total_Providers
FROM Providers
GROUP BY Type
ORDER BY Total_Providers DESC
LIMIT 1;
"""

cursor.execute(query14)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Supermarket', 262)

In [37]:
#15 Question: How many receivers are there in each city?
query15 = """
SELECT City, COUNT(*) AS Total_Receivers
FROM Receivers
GROUP BY City
ORDER BY Total_Receivers DESC;
"""

cursor.execute(query15)
rows = cursor.fetchall()
for row in rows:
    print(row)

('New Christopher', 3)
('Spencermouth', 2)
('Moorechester', 2)
('Lake Mary', 2)
('Smithshire', 2)
('Lake Daniel', 2)
('Kellybury', 2)
('Greenton', 2)
('North Lori', 2)
('West James', 2)
('North Christina', 2)
('Davidmouth', 2)
('Allenmouth', 2)
('Stevenmouth', 2)
('Emilymouth', 2)
('Ashleyborough', 2)
('New Derek', 2)
('Williamsfort', 2)
('Port Samantha', 2)
('Longmouth', 2)
('Port Richard', 2)
('Lake Rebeccaton', 2)
('Jenniferbury', 2)
('Brandonhaven', 2)
('Christopherchester', 2)
('West Richard', 2)
('Sarahaven', 2)
('Phillipston', 2)
('Robertton', 2)
('Josephton', 2)
('Markfurt', 2)
('South Mark', 2)
('East Michael', 2)
('Port Carlburgh', 1)
('Lewisburgh', 1)
('South Randalltown', 1)
('South Shaneville', 1)
('Bakerport', 1)
('East Sharimouth', 1)
('South Edwinborough', 1)
('Benjaminburgh', 1)
('West Robert', 1)
('Wrightland', 1)
('South Gregorymouth', 1)
('Katherineside', 1)
('Lake Matthewstad', 1)
('Burkeside', 1)
('Port Ronald', 1)
('Port Tara', 1)
('Silvaport', 1)
('Moranhaven', 1)
('North Cynthiaberg', 1)
('Sandrahaven', 1)
('Jonesside', 1)
('Lake Nicole', 1)
('Aliciabury', 1)
('Monicafort', 1)
('Lake Elizabeth', 1)
('Port Matthewmouth', 1)
('Susanfurt', 1)
('Courtneyfurt', 1)
('Lake Kendra', 1)
('North Heather', 1)
('Taylorfort', 1)
('Walshfort', 1)
('North Robert', 1)
('South Rachaelhaven', 1)
('Olsonville', 1)
('West Erik', 1)
('Josephview', 1)
('West Carrie', 1)
('Port Kellyburgh', 1)
('Port Dawntown', 1)
('Amberfort', 1)
('Davisborough', 1)
('South Laurachester', 1)
('East Teresahaven', 1)
('East Saraport', 1)
('South Tonyaborough', 1)
('North Sarah', 1)
('Port Johnchester', 1)
('Hornemouth', 1)
('Tomburgh', 1)
('Higginsmouth', 1)
('Larastad', 1)
('Jasonshire', 1)
('New Mary', 1)
('Michaelton', 1)
('Phillipborough', 1)
('South Kathleenbury', 1)
('North Catherinefurt', 1)
('East William', 1)
('North Darinshire', 1)
('Port Belinda', 1)
('West Jaclyn', 1)
('Strongshire', 1)
('Edwardburgh', 1)
('East Dylan', 1)
('Gregoryville', 1)
('New Gloriaburgh', 1)
('West Angelatown', 1)
('Christineton', 1)
('Laurafurt', 1)
('Manningtown', 1)
('North Jenniferside', 1)
('North David', 1)
('Marshallton', 1)
('Angelaville', 1)
('Knightburgh', 1)
('Port Gregoryport', 1)
('Evansside', 1)
('Davidview', 1)
('East Kelli', 1)
('Lake John', 1)
('West Ronaldland', 1)
('Robinsonside', 1)
('Garrettborough', 1)
('Alexatown', 1)
('New Jessica', 1)
('Laurafort', 1)
('Carterside', 1)
('South Veronicaburgh', 1)
('Henryhaven', 1)
('Russellville', 1)
('Robertaborough', 1)
('Hollytown', 1)
('North Matthewhaven', 1)
('West Justin', 1)
('North Joshuafort', 1)
('North Pamela', 1)
('Lake Rebecca', 1)
('Port Elizabethton', 1)
('East Josephstad', 1)
('Theresamouth', 1)
('Lake Michaelton', 1)
('West Johnny', 1)
('Michaeltown', 1)
('Georgeborough', 1)
('Meganton', 1)
('Scottmouth', 1)
('Port Teresa', 1)
('East Heatherborough', 1)
('South Franciscoport', 1)
('Deanview', 1)
('Kennethberg', 1)
('Ayalamouth', 1)
('Port Patriciachester', 1)
('South Alexandraport', 1)
('Meghanfort', 1)
('Campbellchester', 1)
('North Roger', 1)
('New Benjamin', 1)
('Drakeburgh', 1)
('Marieview', 1)
('Jeffhaven', 1)
('South Jasonberg', 1)
('Marcusberg', 1)
('Huntermouth', 1)
('New Elaine', 1)
('Bakerfort', 1)
('Phillipsbury', 1)
('Dawnview', 1)
('Wilsonfort', 1)
('Nancyshire', 1)
('North Paul', 1)
('Tanyachester', 1)
('Joshuamouth', 1)
('New Shannonbury', 1)
('North Amandafort', 1)
('Danielfort', 1)
('New Aimeemouth', 1)
('Caseyland', 1)
('Williamtown', 1)
('Lake Victoriaport', 1)
('Patriciaton', 1)
('Jacobsmouth', 1)
('Charleston', 1)
('South Ashley', 1)
('Lisaton', 1)
('South Jill', 1)
('Mcclurestad', 1)
('Amandaville', 1)
('Daleshire', 1)
('Heatherfurt', 1)
('East Sarahtown', 1)
('Ginamouth', 1)
('West Shawn', 1)
('East Timhaven', 1)
('Nguyenfurt', 1)
('Port Erica', 1)
('Joanchester', 1)
('Thomaston', 1)
('West Courtneyport', 1)
('Smithstad', 1)
('New Tiffany', 1)
('Nicoleport', 1)
('Robertsonchester', 1)
('Port Emilymouth', 1)
('West Krystalview', 1)
('Peterhaven', 1)
('Seanside', 1)
('Thomasland', 1)
('Port Melissa', 1)
('Lake Amanda', 1)
('Heathertown', 1)
('Lake Erica', 1)
('Angelicatown', 1)
('Maxberg', 1)
('North Shelby', 1)
('New Seanburgh', 1)
('Toddborough', 1)
('Figueroaport', 1)
('Shawmouth', 1)
('New Jason', 1)
('Port Dustin', 1)
('East Tinamouth', 1)
('East Teresamouth', 1)
('East Sharon', 1)
('East Jillian', 1)
('Corybury', 1)
('North Mario', 1)
('North Lindachester', 1)
('West Casey', 1)
('Ramseystad', 1)
('South Kendraville', 1)
('Andrewmouth', 1)
('Steveberg', 1)
('South Anna', 1)
('Baileyville', 1)
('New Roseville', 1)
('Port Stephen', 1)
('West Amybury', 1)
('New Daniel', 1)
('Lake Austinmouth', 1)
('Dantown', 1)
('Robinsonland', 1)
('West Aaronport', 1)
('Hallside', 1)
('East Jacob', 1)
('West Jessica', 1)
('Fergusonton', 1)
('Port Maria', 1)
('Singletonview', 1)
('Bushview', 1)
('Poolestad', 1)
('Port Brianville', 1)
('Davidshire', 1)
('Port Ericmouth', 1)
('Lake Julia', 1)
('Rogerburgh', 1)
('West Josephshire', 1)
('Davisburgh', 1)
('North Kimberlyport', 1)
('Edwardsside', 1)
('Wilsonfurt', 1)
('Garciaview', 1)
('West Vickie', 1)
('Carolhaven', 1)
('New Craig', 1)
('Lake Darrellburgh', 1)
('Aaronshire', 1)
('New Abigail', 1)
('Lake Kelli', 1)
('Jenniferberg', 1)
('Martinland', 1)
('New Julian', 1)
('West Christiantown', 1)
('New Tina', 1)
('Christopherland', 1)
('South Amy', 1)
('Barnesport', 1)
('Lake Jessicaborough', 1)
('East Moniquemouth', 1)
('East John', 1)
('West Johnmouth', 1)
('West Kelly', 1)
('Murrayview', 1)
('Bauerton', 1)
('Dylanton', 1)
('Monicaton', 1)
('East Ashleyshire', 1)
('Brianchester', 1)
('Autumnbury', 1)
('East Williamborough', 1)
('Brandonside', 1)
('West Christopher', 1)
('Port Jessica', 1)
('Port Samanthamouth', 1)
('Lake Christychester', 1)
('Lake Stephenport', 1)
('Isaiahtown', 1)
('Dustinfurt', 1)
('Stephaniechester', 1)
('Castilloland', 1)
('Burnettton', 1)
('Susanview', 1)
('Lake Tina', 1)
('Hannahside', 1)
('North Josephland', 1)
('Shermantown', 1)
('East Bryan', 1)
('Jamesstad', 1)
('East Dale', 1)
('Lake Michael', 1)
('Aguilarstad', 1)
('Marksmouth', 1)
('Alexanderbury', 1)
('North Alexander', 1)
('Melissaport', 1)
('Millerport', 1)
('Edwardshaven', 1)
('Kellyville', 1)
('Calebview', 1)
('North Patriciamouth', 1)
('Cynthiashire', 1)
('New Julia', 1)
('New Sara', 1)
('Geraldchester', 1)
('Schaeferfort', 1)
('North Kimberlyfort', 1)
('Haleymouth', 1)
('West Aaronberg', 1)
('Meganmouth', 1)
('Lake Glenview', 1)
('Danielborough', 1)
('Andersenfort', 1)
('North Williamview', 1)
('South Bethanyport', 1)
('North Ashleymouth', 1)
('New Sarahmouth', 1)
('Thompsonhaven', 1)
('South Amybury', 1)
('East Gina', 1)
('Melissaview', 1)
('New Justinhaven', 1)
('Edwardfort', 1)
('North Bruce', 1)
('Reidton', 1)
('Hammondfort', 1)
('Chaseview', 1)
('Lake Melindaside', 1)
('Victoriastad', 1)
('East Lisafurt', 1)
('South Michelleshire', 1)
('Thomasberg', 1)
('Gomezmouth', 1)
('New William', 1)
('Murphyfort', 1)
('Melindaview', 1)
('Priceborough', 1)
('Rushfurt', 1)
('East Joseph', 1)
('Maryfort', 1)
('Angelamouth', 1)
('Juliastad', 1)
('Lake Lesliemouth', 1)
('Lake Dillonborough', 1)
('Swansonport', 1)
('West Jeffrey', 1)
('West Dan', 1)
('North Nicole', 1)
('Johnland', 1)
('North Jamesfurt', 1)
('New Corey', 1)
('South John', 1)
('Jaredport', 1)
('West Matthewborough', 1)
('Duncanchester', 1)
('Paulmouth', 1)
('Port Dean', 1)
('South Barbaraburgh', 1)
('Port Brandonberg', 1)
('Port Johnstad', 1)
('Lake Stevenburgh', 1)
('Jamieview', 1)
('Leeton', 1)
('Lawrencechester', 1)
('Lake Cory', 1)
('Lake Ryan', 1)
('Reevestown', 1)
('Perezport', 1)
('West Tina', 1)
('North Michelle', 1)
('Kellyfurt', 1)
('Tiffanyport', 1)
('Lisafurt', 1)
('Rachelberg', 1)
('Lake Jonathanchester', 1)
('New Brandonton', 1)
('Lake Clinton', 1)
('Gordonstad', 1)
('West Jorge', 1)
('Sarahville', 1)
('Sherryhaven', 1)
('New Amy', 1)
('Bergerport', 1)
('Port Carmen', 1)
('West Donnaton', 1)
('West Randall', 1)
('Lake Matthew', 1)
('North Manuel', 1)
('New Deborahville', 1)
('New Kevin', 1)
('Chambersmouth', 1)
('Lake Crystal', 1)
('Clarkhaven', 1)
('Morganville', 1)
('North Abigail', 1)
('West Mikayla', 1)
('Port Dianemouth', 1)
('New Natalieland', 1)
('Lake Laurenburgh', 1)
('Christinaland', 1)
('Rayfurt', 1)
('North Holly', 1)
('Port Thomasstad', 1)
('Josephborough', 1)
('Jonathanview', 1)
('South Tyler', 1)
('South Edwardburgh', 1)
('Lewisfort', 1)
('Chadport', 1)
('Rosaleschester', 1)
('Lake Steven', 1)
('Lake Karen', 1)
('Russellburgh', 1)
('Pagemouth', 1)
('East Douglas', 1)
('East Melissaport', 1)
('Lake Kyleside', 1)
('South Connorview', 1)
('Martinezside', 1)
('Robertsport', 1)
('West Rogerview', 1)
('Lake Joshuaville', 1)
('North Margarethaven', 1)
('Troyshire', 1)
('West Cherylland', 1)
('Port Sara', 1)
('Port Michaelmouth', 1)
('Coreymouth', 1)
('North Kathryn', 1)
('Port Deborahbury', 1)
('Mikemouth', 1)
('New Timothymouth', 1)
('Port Jenniferborough', 1)
('New Rebecca', 1)
('Hollyside', 1)
('Port Judith', 1)
('Davidport', 1)
('Cruzborough', 1)
('Port Deborah', 1)
('Lake Christina', 1)
('Sandratown', 1)
('East Andrewhaven', 1)
('Powerston', 1)
('West Justinberg', 1)
('Edwardport', 1)
('Lake Adriennechester', 1)
('North Jeffreychester', 1)
('Bushbury', 1)
('Chrisport', 1)
('South William', 1)
('East Daniel', 1)
('Heatherhaven', 1)
('Johnsonberg', 1)
('North Robinville', 1)
('North Kimberlyland', 1)
('Port Dominique', 1)
('Port Sarah', 1)
('Bobbyfort', 1)
('East Ginafort', 1)
('Castilloshire', 1)
('West Aliciaburgh', 1)
('Lake Mitchellbury', 1)
('South Davidstad', 1)
('New Michaelport', 1)
('Andersonview', 1)
('Port Gregory', 1)
('Port Jason', 1)
('New Dustin', 1)
('West Jeffreyfurt', 1)
('Jessicatown', 1)
('Port Brandon', 1)
('Rodriguezborough', 1)
('South Steven', 1)
('Lake Rachelburgh', 1)
('Brooksmouth', 1)
('Christophertown', 1)
('Langburgh', 1)
('Proctorville', 1)
('Port Derekland', 1)
('Port Chaseport', 1)
('Huynhmouth', 1)
('Gilbertborough', 1)
('Connerland', 1)
('Lewismouth', 1)
('Matthewhaven', 1)
('Bradleyland', 1)
('Port Margaretport', 1)
('Carlosfurt', 1)
('Susanville', 1)
('Huffmouth', 1)
('Lake Gloria', 1)
('Pittsville', 1)
('Olsonland', 1)
('Robertview', 1)
('Turnerhaven', 1)
('New Travisland', 1)
('Stephanieberg', 1)
('Paynestad', 1)
('Lisaborough', 1)
('Carolinebury', 1)
('East Cynthiahaven', 1)
('Port Angelafurt', 1)
('Ramirezhaven', 1)
('Rebeccaview', 1)
('Darinland', 1)
('East Peter', 1)
('New Robert', 1)
('West Jacquelineland', 1)
('Diazshire', 1)
('Paulaburgh', 1)
('South Michaelfurt', 1)
('New Michael', 1)
('Anthonyport', 1)
('Christinahaven', 1)
('Port Michaelport', 1)
('Carterton', 1)
('Vasquezberg', 1)
('East Davidbury', 1)
('Shelbyland', 1)
('Ashleeside', 1)
('Jacobmouth', 1)
('Port Traci', 1)
('Port Kristinechester', 1)
('Lake Lance', 1)
('South Donaldshire', 1)
('Gonzalezstad', 1)
('New Alexismouth', 1)
('South Eric', 1)
('West Alexandra', 1)
('Shaneport', 1)
('Adamland', 1)
('Ortizmouth', 1)
('Woodsfurt', 1)
('Kingville', 1)
('Rayberg', 1)
('Brownville', 1)
('South Meganland', 1)
('Hallton', 1)
('West Kevin', 1)
('Randyville', 1)
('Pottertown', 1)
('East Jordanborough', 1)
('East Kimberlymouth', 1)
('North Michaelville', 1)
('Roberttown', 1)
('South Yolanda', 1)
('Port Todd', 1)
('North Hollyland', 1)
('Murrayside', 1)
('Port Courtneyland', 1)
('Barreratown', 1)
('Hollandburgh', 1)
('East Stephenton', 1)
('Lake Cody', 1)
('South Elizabeth', 1)
('Port Paulaton', 1)
('North Sherribury', 1)
('Hunterbury', 1)
('Lake Gregory', 1)
('Whiteside', 1)
('Lisaview', 1)
('North Nathanville', 1)
('North Raymond', 1)
('Mooreburgh', 1)
('Beckville', 1)
('South Gabrielmouth', 1)
('North Lisaburgh', 1)
('North Christopher', 1)
('West Mariashire', 1)
('West Carrieberg', 1)
('Jonesland', 1)
('Ariasbury', 1)
('South Yvettestad', 1)
('New Tammyhaven', 1)
('Biancaton', 1)
('Kinghaven', 1)
('New Christopherburgh', 1)
('Butlerborough', 1)
('East Nathan', 1)
('Nicoleside', 1)
('Mcfarlandhaven', 1)
('South Nicoleberg', 1)
('New Carrie', 1)
('Mcdanielmouth', 1)
('Patriciamouth', 1)
('North Tiffanyfort', 1)
('South Waynefurt', 1)
('Robertside', 1)
('New Kellytown', 1)
('Shelleyburgh', 1)
('Andersonland', 1)
('Nguyenview', 1)
('West Danielview', 1)
('Mendozabury', 1)
('Kimberlyview', 1)
('Keithstad', 1)
('East Heatherbury', 1)
('Stephenchester', 1)
('Port David', 1)
('East Nicole', 1)
('Morenoborough', 1)
('Vancebury', 1)
('New Daryl', 1)
('North Marcusbury', 1)
('Perezhaven', 1)
('Johnville', 1)
('Blakehaven', 1)
('West Garretthaven', 1)
('Moralesfort', 1)
('Cameronfurt', 1)
('Anthonystad', 1)
('East Antoniobury', 1)
('New Ryanmouth', 1)
('Melaniehaven', 1)
('Fowlerburgh', 1)
('Robertfurt', 1)
('West Juanchester', 1)
('South Lucasview', 1)
('Johnsonville', 1)
('West Troyview', 1)
('Port Timothymouth', 1)
('North Michael', 1)
('Port Mariemouth', 1)
('Fernandezberg', 1)
('Michealstad', 1)
('Port Peggyshire', 1)
('Port Maryshire', 1)
('South Anthonyside', 1)
('Kempstad', 1)
('Kenthaven', 1)
('Petersonmouth', 1)
('Port Shannonhaven', 1)
('Toddstad', 1)
('Jensenland', 1)
('Davidland', 1)
('Rogersfort', 1)
('Sharpfurt', 1)
('Chenview', 1)
('Port Seanshire', 1)
('Goodmanfort', 1)
('Brooksborough', 1)
('New Mark', 1)
('South Jasminechester', 1)
('South Shirleymouth', 1)
('Richardton', 1)
('Jeanshire', 1)
('Karenfort', 1)
('Taylorport', 1)
('Ellisborough', 1)
('Port Joshua', 1)
('East Sheenahaven', 1)
('North Erikhaven', 1)
('East Tiffanyview', 1)
('Lake Sheilaland', 1)
('Wardshire', 1)
('Christinehaven', 1)
('Joshuahaven', 1)
('Nelsonbury', 1)
('New James', 1)
('West Amandaport', 1)
('Changview', 1)
('Davidtown', 1)
('New Shauntown', 1)
('East Emily', 1)
('West Monica', 1)
('South Marymouth', 1)
('West Brittany', 1)
('Bruceburgh', 1)
('Sarahside', 1)
('East Nathanstad', 1)
('Lake Kevinport', 1)
('New Frederickfort', 1)
('South Jason', 1)
('New Stephanie', 1)
('Nicholsonland', 1)
('Lovestad', 1)
('Mercerport', 1)
('Port Terry', 1)
('North Amanda', 1)
('Lake Douglas', 1)
('Lake Tracytown', 1)
('Shortfort', 1)
('Port Amberfurt', 1)
('East Stephaniefort', 1)
('Nicoleberg', 1)
('Heatherburgh', 1)
('New Brandyhaven', 1)
('East Tasha', 1)
('New Matthewton', 1)
('Victorton', 1)
('Port Marc', 1)
('Kimberlymouth', 1)
('Port Curtisside', 1)
('South Jenniferburgh', 1)
('South Richard', 1)
('Perryton', 1)
('Reedview', 1)
('Cummingschester', 1)
('Lake Catherine', 1)
('West Bradley', 1)
('East Jamesmouth', 1)
('Garciashire', 1)
('West David', 1)
('Danielsview', 1)
('Lake Heatherberg', 1)
('South Lindsay', 1)
('Wilsonshire', 1)
('South Williamview', 1)
('Moralesburgh', 1)
('North Vanessamouth', 1)
('South Edward', 1)
('Leahchester', 1)
('Aguilarbury', 1)
('New Sean', 1)
('South Samanthaburgh', 1)
('Lake Michelle', 1)
('North Danielchester', 1)
('South Theresaberg', 1)
('Hardyberg', 1)
('Brittanyborough', 1)
('Deanstad', 1)
('East Stevenborough', 1)
('Sandovalmouth', 1)
('Oliverberg', 1)
('Buchananton', 1)
('Grahambury', 1)
('East Julietown', 1)
('Lake Kimberlyton', 1)
('Cookhaven', 1)
('New Jesus', 1)
('Wagnerburgh', 1)
('Danielfurt', 1)
('West Victoriaberg', 1)
('South Jessicaburgh', 1)
('Donnamouth', 1)
('Ronaldmouth', 1)
('Diazbury', 1)
('Melissaberg', 1)
('North Mallorystad', 1)
('Jeffreyland', 1)
('Reginaburgh', 1)
('East Janetstad', 1)
('New Phillipfurt', 1)
('Josephfurt', 1)
('Brownport', 1)
('Port Gabrielleborough', 1)
('Zacharyview', 1)
('Hansonfurt', 1)
('West Carrieport', 1)
('Port Caleb', 1)
('Deanfort', 1)
('Princehaven', 1)
('Andersonfort', 1)
('North Andresport', 1)
('South Jamesfort', 1)
('Danielland', 1)
('Westport', 1)
('East Josephview', 1)
('Brownbury', 1)
('West Meganmouth', 1)
('Lake Lindseystad', 1)
('Theresabury', 1)
('South Michelleport', 1)
('Lisabury', 1)
('Josephside', 1)
('Harrisfurt', 1)
('East Daisybury', 1)
('Westshire', 1)
('Shawhaven', 1)
('Comptonside', 1)
('Maryside', 1)
('North Dawn', 1)
('South Sheryl', 1)
('Martinchester', 1)
('Andreaberg', 1)
('Delgadofort', 1)
('West Jacob', 1)
('Davisport', 1)
('East Mark', 1)
('East Amandaberg', 1)
('Cruzland', 1)
('New Olivia', 1)
('West Jacquelinefort', 1)
('North Tanner', 1)
('Michaelside', 1)
('Scottbury', 1)
('Lake Christian', 1)
('New Kimberly', 1)
('Ginaview', 1)
('West Josephland', 1)
('Lauratown', 1)
('South Lisa', 1)
('West John', 1)
('West Michaelton', 1)
('North Kelly', 1)
('South Mirandamouth', 1)
('Amandaburgh', 1)
('New Laura', 1)
('Halltown', 1)
('Lake Dustin', 1)
('Ramosberg', 1)
('Johnsonchester', 1)
('Meganburgh', 1)
('Taraside', 1)
('Ellisshire', 1)
('Bradfurt', 1)
('Wyattton', 1)
('Port Williamtown', 1)
('Crawfordchester', 1)
('Lorifurt', 1)
('Collierburgh', 1)
('New Larryshire', 1)
('Lake Kaylamouth', 1)
('Lake Stephenchester', 1)
('Cookstad', 1)
('Kirkfort', 1)
('Poolebury', 1)
('New Erikamouth', 1)
('Billyland', 1)
('South Craigborough', 1)
('Lake Joshuabury', 1)
('Pooleside', 1)
('New Dakotahaven', 1)
('West Lindseyside', 1)
('North Shawnastad', 1)
('North Amy', 1)
('Natalieside', 1)
('Annaborough', 1)
('Port Philipmouth', 1)
('East Shirley', 1)
('New Donnahaven', 1)
('Jamesview', 1)
('North Nicholasborough', 1)
('Port Robertmouth', 1)
('South Emily', 1)
('North Ricardo', 1)
('Tylermouth', 1)
('Rodneyport', 1)
('New Jeffreyhaven', 1)
('North Josephmouth', 1)
('East Robert', 1)
('Allenborough', 1)
('Fernandezchester', 1)
('Birdview', 1)
('West Sara', 1)
('Jamesborough', 1)
('North Haleyhaven', 1)
('Lake Williamhaven', 1)
('Jarvisshire', 1)
('New Adrian', 1)
('West Barry', 1)
('New Loriberg', 1)
('East Michaelview', 1)
('Grossport', 1)
('East Kevinberg', 1)
('Dawsonberg', 1)
('New Juliaton', 1)
('Franklinview', 1)
('East Travis', 1)
('Payneland', 1)
('New Melanie', 1)
('Lake Shawn', 1)
('Rubioborough', 1)
('Lake Brandibury', 1)
('Jessicaland', 1)
('Williamsborough', 1)
('Kennethmouth', 1)
('Woodardview', 1)
('South Alanville', 1)
('Ianland', 1)
('East Kevin', 1)
('Jenkinsfurt', 1)
('West Davidview', 1)
('Lake Victoriaton', 1)
('Kelleystad', 1)
('Darinview', 1)
('North Janetland', 1)
('West Donaldmouth', 1)
('East Sheriton', 1)
('Gloriaview', 1)
('Carlostown', 1)
('Mathistown', 1)
('Dunnbury', 1)
('South Michael', 1)
('South Mary', 1)
('West Paulfort', 1)
('Erikashire', 1)
('Riverafort', 1)
('Port Douglasland', 1)
('Port Jonathanton', 1)
('Hayesfort', 1)
('Lake Brandonborough', 1)
('Elizabethberg', 1)
('South Heather', 1)
('Rodneyborough', 1)
('New Jessicabury', 1)
('New Melindashire', 1)
('Caitlynhaven', 1)
('North Lawrence', 1)
('East Debramouth', 1)
('West Ashleymouth', 1)
('North Lydiaberg', 1)
('Delacruzborough', 1)
('Robertville', 1)
('Gilbertfurt', 1)
('Port Jonathanhaven', 1)
('Nathanstad', 1)
('Jacquelineshire', 1)
('Kennethside', 1)
('Greenville', 1)
('Oneillland', 1)
('Suzanneton', 1)
('Myerstown', 1)
('West Dustinberg', 1)
('North Stephanieborough', 1)
('Johnhaven', 1)
('Davisfort', 1)
('Port Thomas', 1)
('Lake Larryborough', 1)
('Port Cindyberg', 1)
('Mariefurt', 1)
('Bennettton', 1)
('South Benjamin', 1)
('Mayburgh', 1)
('Lauraport', 1)
('Patrickfort', 1)
('North Joshua', 1)
('Amandafurt', 1)
('Clarkton', 1)
('South Paul', 1)
('Lake Sonya', 1)
('Teresastad', 1)
('Carrborough', 1)
('Port Cody', 1)
('Gutierrezmouth', 1)
('North Jacobhaven', 1)
('Travishaven', 1)
('Rodneyfurt', 1)
('South Jamie', 1)
('East Renee', 1)
('Nielsenberg', 1)
('North Laura', 1)
('Thomasport', 1)
('Jessicaburgh', 1)
('Port Johnside', 1)
('Matthewmouth', 1)
('Port Kellifort', 1)
('Andrewsport', 1)
('Lanechester', 1)
('New Steven', 1)
('South Sandra', 1)
('Lake Jeffery', 1)
('Shelbychester', 1)

In [39]:
#16 Receiver Type with Most Claims
query16 = """
SELECT r.Type, COUNT(c.Claim_ID) AS Total_Claims
FROM Receivers r
JOIN Claims c ON r.Receiver_ID = c.Receiver_ID
GROUP BY r.Type
ORDER BY Total_Claims DESC
LIMIT 1;
"""

cursor.execute(query16)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Individual', 4)

In [40]:

#17 Top 5 Providers by Quantity Donated

query17 = """
SELECT p.Provider_ID, p.Name, SUM(f.Quantity) AS Total_Quantity_Donated
FROM Providers p
JOIN Food_Listings f ON p.Provider_ID = f.Provider_ID
GROUP BY p.Provider_ID, p.Name
ORDER BY Total_Quantity_Donated DESC
LIMIT 5;
"""

cursor.execute(query17)
rows = cursor.fetchall()
for row in rows:
    print(row)

(709, 'Barry Group', Decimal('179'))
(306, 'Evans, Wright and Mitchell', Decimal('158'))
(655, 'Smith Group', Decimal('150'))
(315, 'Nelson LLC', Decimal('142'))
(678, 'Ruiz-Oneal', Decimal('140'))

In [41]:
#18 Food Types with Highest Claims

query18 = """
SELECT f.Food_Type, COUNT(c.Claim_ID) AS Total_Claims
FROM Food_Listings f
JOIN Claims c ON f.Food_ID = c.Food_ID
GROUP BY f.Food_Type
ORDER BY Total_Claims DESC;
"""

cursor.execute(query18)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Non-Vegetarian', 4)
('Vegetarian', 4)

In [43]:
#19 Total Successful Claims per City?

query19 = """
SELECT r.City, COUNT(c.Claim_ID) AS Successful_Claims
FROM Receivers r
JOIN Claims c ON r.Receiver_ID = c.Receiver_ID
WHERE c.Status = 'Successful'
GROUP BY r.City
ORDER BY Successful_Claims DESC;
"""

cursor.execute(query19)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [44]:
row

('Vegetarian', 4)

In [45]:
#20 Most Recent Food Listings

query20 = """
SELECT Food_ID, Food_Name, Provider_ID, Expiry_Date
FROM Food_Listings
ORDER BY Expiry_Date DESC
LIMIT 10;
"""

cursor.execute(query20)
rows = cursor.fetchall()

# --- Print output ---
print("Question 23: Most Recent Food Listings")
for row in rows:
    print(row)

Question 23: Most Recent Food Listings
(1, 'Bread', 110, None)
(2, 'Soup', 791, None)
(3, 'Fruits', 478, None)
(4, 'Fruits', 930, None)
(5, 'Soup', 279, None)
(6, 'Vegetables', 378, None)
(7, 'Dairy', 268, None)
(8, 'Rice', 343, None)
(9, 'Bread', 47, None)
(10, 'Rice', 528, None)